
mat-icon-button.size-25 {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

mat-icon-button.size-15 {
  width: 10px !important;
  height: 10px !important;
  line-height: 0px !important;
  display: block !important;
}

.frm_receita_codigo {
  min-width: 120px;
  max-width: 120px;
}

.frm_receita_descricao {
  min-width: 370px;
  max-width: 370px;
}

.frm_receita_transportador {
  min-width: 320px;
  max-width: 320px;
}

.frm_receita_razao_social {
  min-width: 520px;
  max-width: 520px;
}

.frm_receita_data {
  min-width: 160px;
  max-width: 160px;
}

.frm_receita_servico {
  min-width: 200px;
  max-width: 200px;
}

.frm_receita_unidade {
  min-width: 100px;
  max-width: 100px;
}

.frm_receita_fornecedor {
  min-width: 600px;
  max-width: 600px;
}

.frm_receita_preco {
  min-width: 120px;
  max-width: 120px;
}

.frm_receita-loading-shade {
  /* position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0; */
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-height: 100px;
  overflow: none;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  color: rgb(139, 138, 138);
  background-color: #dddddd;
  border-bottom-width: 1px;
  border-bottom-color: rgb(182, 179, 179);
  align-items: center;
}

td {
  min-height: 18px;
  max-height: 18px;
}

.celula {
  text-align: center;
}

.cell {
  color: rgb(139, 138, 138);
  min-height: 18px;
  max-height: 18px;
  display: flex;
  align-items: center;
  padding-left: 0px;
  font-size: 14px;
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.frm_receita_servico_fornecedor {
  width: 280px;
}

.frm_filtrocliente_residuo {
  width: 250px;
}

.frm_receita_servico_servico {
  width: 200px;
}

.frm_receita_servico_unidade {
  width: 60px;
}

.frm_receita_servico_preco {
  width: 130px;
}

.frm_receita_servico_botao {
  width: 15px;
}

.preco {
  border: none;
  background-color: transparent;
  height: 17px;
  width: 100%;
}

.preco2 {
  border: 0;
  border-bottom: 1px solid red;
  outline: 0;
  border-bottom-color: black;
  background-color: transparent;
  height: 21px;
  width: 100%;
}

.group {
  position: relative;
  margin-bottom: 0px;
}

.atrainput {
  font-size: 16px;
  font-family: roboto;
  padding: 10px 10px 10px 0px;
  display: block;
  border: none;
  border-bottom: 1px solid #757575;
}

.atrainput:focus {
  outline: none;
}

/* LABEL ======================================= */
.atralabel {
  color: #999;
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  transition: 0.2s ease all;
}

/* active state */
.atrainput:focus ~ .atralabel,
.atrainput:valid ~ .atralabel {
  top: -15px;
  font-size: 12px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 120px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.atrainput:focus ~ .bar:before,
.atrainput:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.atrainput:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.preco:focus {
  background-color: #ffffff !important;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: rgb(76, 79, 247);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.col_cnpj_cpf {
  min-width: 10%;
  max-width: 10%;
  width: 10%;
}

.col_clifor {
  min-width: 30%;
  max-width: 30%;
  width: 30%;
}

.col_manifestos {
  min-width: 55%;
  max-width: 55%;
  width: 55%;
}

.col_total {
  min-width: 5%;
  max-width: 5%;
  width: 5%;
}
