<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
  <div fxFlex="140px" style="padding: 10px;" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="height: 100%">
      <div fxFlex="80%" fxFlexFill fxFlexAlign="center">
        <button id="btnSalvar" mat-raised-button color="primary" style="width: 100%" (click)="btnSalvar_click()">
          <mat-icon>save</mat-icon>
          <span>Salvar</span>
        </button>
        <button id="btnIncluir" mat-raised-button color="primary" style="width: 100%" (click)="btnIncluir_click()" *ngIf="exibeIncluir">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Incluir</span>
        </button>
      </div>
      <div fxFlex="40px" fxFlexFill fxFlexAlign="end">

        <a routerLink="/manifestos" mat-raised-button color="primary" style="width: 120px">
          <mat-icon>close</mat-icon>
          <span>Fechar</span>
        </a>
      </div>
    </div>
  </div>
  <div fxFlex="90%">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div fxFlex="50px" fxFlexAlign="start" style="padding: 10px;">
        <button id="lblTitulo" mat-raised-button style="width: 100%" disabled>
          <i class="fa fa-recycle" aria-hidden="true"></i>
          <span>MANIFESTO</span>
        </button>
      </div>
      <div fxFlex="80%" fxFlexAlign="center">
        <div fxLayout="column" class="frm_manifesto-loading-shade" fxLayoutAlign="center center" *ngIf="emProcessamento">
          <div fxFlex="70" fxFlexAlign="center">
            <mat-spinner></mat-spinner>
          </div>
          <div fxFlex="10" fxFlexAlign="center">
            &nbsp;
          </div>
          <div fxFlex="20" fxFlexAlign="center">
            <label>Aguarde...</label>
          </div>
        </div>
        <mat-card *ngIf="!emProcessamento" style="width: 1000px;  overflow:hidden;">
          <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="60px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" style="width: 100%">
                <div fxFlex="90px" fxFlexAlign="start">
                  <mat-form-field class="frm_manifesto_codigo">
                    <input matInput disabled #codigo maxlength="9" type="number" tabindex="-1" placeholder="Código" required [(ngModel)]="manifesto.id">
                  </mat-form-field>
                </div>
                <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_manifesto_codigo">
                    <input matInput autofocus #focuscomp #codigofor maxlength="9" [formControl]="valCodigo" placeholder="Cliente" required tabindex="1"
                      [(ngModel)]="manifesto.id_cliente" (keyup)="validaSaida($event.target.value)" (keypress)="onlyNumber($event)">
                    <mat-hint align="end">{{codigofor.value?.length || 0}}/9</mat-hint>
                    <mat-error *ngIf="valCodigo.invalid">{{getCodigoErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="25px" fxFlexAlign="center" fxFlexFill>
                  <button mat-icon-button color="primary" (click)="openPesquisa()" tabindex="2">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
                <div fxFlex="520px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_manifesto_razao_social">
                    <input matInput disabled [(ngModel)]="manifesto.cliente">
                  </mat-form-field>
                </div>
                <div fxFlex="100px" fxFlexFill>
                  <mat-form-field class="frm_manifesto_numero">
                    <input matInput uppercase #descricao maxlength="20" [formControl]="valNumero" placeholder="Numero" required tabindex="3"
                      [(ngModel)]="manifesto.numero">
                    <mat-hint align="end">{{descricao.value?.length || 0}}/20</mat-hint>
                    <mat-error *ngIf="valNumero.invalid">{{getDescricaoErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="150px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_manifesto_data">
                    <input matInput type="date" #dtemissao maxlength="10" placeholder="Data" tabindex="4" [ngModel]="manifesto.data" (ngModelChange)="manifesto.data = $event"
                      [value]="manifesto.data" [formControl]="valData">
                    <mat-hint align="end">{{dtemissao.value?.length || 0}}/10</mat-hint>
                    <mat-error *ngIf="valData.invalid">{{getErrorMessage(valData)}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxFlex="380px" fxFlexAlign="start" fxFlexFill style="overflow: hidden">
              <mat-tab-group tabindex="5">
                <mat-tab label="Resíduos">
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                    <div fxFlex="380px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="60px" fxFlexAlign="start">
                          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                            <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_manifesto_codigo">
                                <input matInput autofocus #focuscomp #codigofor maxlength="9" [formControl]="valTransportador" required tabindex="6" [(ngModel)]="manifesto.id_transportador"
                                  (keyup)="validaSaidaTransportador($event.target.value)" (keypress)="onlyNumber($event)">
                                <mat-hint align="end">{{codigofor.value?.length || 0}}/9</mat-hint>
                                <mat-error *ngIf="valTransportador.invalid">{{getErrorMessage(valTransportador)}}</mat-error>
                              </mat-form-field>
                            </div>
                            <div fxFlex="25px" fxFlexAlign="center" fxFlexFill>
                              <button mat-icon-button color="primary" (click)="openPesquisaFornecedor(TipoAtividadeEnum.TRANSPORTADOR)" tabindex="7">
                                <mat-icon>search</mat-icon>
                              </button>
                            </div>
                            <div fxFlex="320px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_manifesto_transportador">
                                <input matInput disabled [(ngModel)]="manifesto.transportador" placeholder="Transportador">
                              </mat-form-field>
                            </div>
                            <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_manifesto_codigo">
                                <input matInput autofocus #focuscomp #codigofor maxlength="9" [formControl]="valDestinador" required tabindex="8" [(ngModel)]="manifesto.id_destinador"
                                  (keyup)="validaSaidaDestinador($event.target.value)" (keypress)="onlyNumber($event)">
                                <mat-hint align="end">{{codigofor.value?.length || 0}}/9</mat-hint>
                                <mat-error *ngIf="valDestinador.invalid">{{getErrorMessage(valDestinador)}}</mat-error>
                              </mat-form-field>
                            </div>
                            <div fxFlex="25px" fxFlexAlign="center" fxFlexFill>
                              <button mat-icon-button color="primary" (click)="openPesquisaFornecedor(TipoAtividadeEnum.DESTINADOR)" tabindex="9">
                                <mat-icon>search</mat-icon>
                              </button>
                            </div>
                            <div fxFlex="320px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_manifesto_destinador">
                                <input matInput disabled [(ngModel)]="manifesto.destinador" placeholder="Destinador">
                              </mat-form-field>
                            </div>
                            <!-- <div fxFlex="120px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_manifesto_codigo">
                                <input matInput disabled placeholder="Transportador" tabindex="5" [(ngModel)]="manifesto.id_transportador">
                              </mat-form-field>
                            </div>
                            <div fxFlex="320px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_manifesto_transportador">
                                <input matInput disabled [(ngModel)]="manifesto.transportador">
                              </mat-form-field>
                            </div>
                            <div fxFlex="120px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_manifesto_codigo">
                                <input matInput disabled placeholder="Destinador" tabindex="5" [(ngModel)]="manifesto.id_destinador">
                              </mat-form-field>
                            </div>
                            <div fxFlex="320px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_manifesto_destinador">
                                <input matInput disabled [(ngModel)]="manifesto.destinador">
                              </mat-form-field>
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="65px" fxFlexAlign="start">
                          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                            <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_manifesto_codigo">
                                <input matInput #codigoCtr maxlength="9" [formControl]="valCodigoCTR" required tabindex="10" [(ngModel)]="manifesto.id_contrato_cliente"
                                  (keyup)="validaSaidaCTR($event.target.value)" (keypress)="onlyNumber($event)">
                                <mat-hint align="end">{{codigoCtr.value?.length || 0}}/9</mat-hint>
                                <mat-error *ngIf="valCodigoCTR.invalid">{{getCodigoErrorMessage()}}</mat-error>
                              </mat-form-field>
                            </div>
                            <div fxFlex="30px" fxFlexAlign="center" fxFlexFill>
                              <button mat-icon-button color="primary" (click)="openPesquisaCTR()" tabindex="11">
                                <mat-icon>search</mat-icon>
                              </button>
                            </div>
                            <div fxFlex="420px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_manifesto_descricao">
                                <input matInput disabled [(ngModel)]="manifesto.descricao" placeholder="Contrato do Cliente">
                              </mat-form-field>
                            </div>
                            <div fxFlex="200px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_contratofornecedor_residuo">
                                <mat-select id="cbResiduo" placeholder="Residuo" [(value)]="manifestoservico.id_residuo" tabindex="12">
                                  <mat-option *ngFor="let residuo of manifestoservicosCombo" [value]="residuo.id_residuo">
                                    {{ residuo.residuo }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div fxFlex="120px" fxFlexAlign="center" fxFlexFill>
                              <button mat-raised-button color="primary" (click)="addlinha()" tabindex="13">
                                <mat-icon>playlist_add</mat-icon>
                                <span>Adicionar Itens</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="40px" fxFlexAlign="start" fxFlexFill>
                          <table>
                            <tr>
                              <th class="frm_manifesto_servico_residuo">
                                <label>Residuo</label>
                              </th>
                              <th class="frm_manifesto_servico_tipo_residuo">
                                <label>Tipo de Resíduo</label>
                              </th>
                              <th class="frm_manifesto_servico_acondicionamento">
                                <label>Acondicionamento</label>
                              </th>
                              <th class="frm_manifesto_servico_tratamento">
                                <label>Tratamento</label>
                              </th>
                              <th class="frm_manifesto_servico_unidade">
                                <label>Unidade</label>
                              </th>
                              <th class="frm_manifesto_servico_preco">
                                <label>Quantidade</label>
                              </th>
                              <th class="frm_manifesto_servico_preco">
                                <label>Qtd.Final</label>
                              </th>
                              <th class="frm_manifesto_servico_botao">
                              </th>
                              <!-- <th class="frm_manifesto_servico_botao">
                                  </th> -->
                            </tr>
                          </table>
                        </div>
                        <div fxFlex="160px" fxFlexAlign="start" fxFlexFill style="overflow-y:auto; overflow-x: hidden">
                          <table>
                            <tr *ngFor="let servico of manifestoservicos">
                              <td class="frm_manifesto_servico_residuo">
                                {{servico.residuo}}
                              </td>
                              <td class="frm_manifesto_servico_tipo_residuo">
                                {{servico.tipo_residuo}}
                                <!-- <select class="preco" [(ngModel)]="servico.id_tipo_residuo" style="max-height: 18px;">
                                  <option class="preco" *ngIf="servico.id_tipo_residuo" [ngValue]="servico.id_tipo_residuo">{{servico.tipo_residuo}}</option>
                                  <option class="preco" *ngFor="let tiporesiduo of tiporesiduos" [ngValue]="tiporesiduo.id">{{ tiporesiduo.descricao }}</option>
                                </select> -->
                              </td>
                              <td class="frm_manifesto_servico_acondicionamento">
                                <!-- {{servico.acondicionamento}} -->
                                <select class="preco" [(ngModel)]="servico.id_acondicionamento" style="max-height: 18px;">
                                  <option class="preco" *ngIf="servico.id_acondicionamento" [ngValue]="servico.id_acondicionamento">{{servico.acondicionamento}}</option>
                                  <option class="preco" *ngFor="let acondicionamento of acondicionamentos" [ngValue]="acondicionamento.id">{{ acondicionamento.descricao }}</option>
                                </select>
                              </td>
                              <td class="frm_manifesto_servico_tratamento">
                                <!-- {{servico.tratamento}} -->
                                <select class="preco" [(ngModel)]="servico.id_tratamento" style="max-height: 18px;">
                                  <option class="preco" *ngIf="servico.id_tratamento" [ngValue]="servico.id_tratamento">{{servico.tratamento}}</option>
                                  <option class="preco" *ngFor="let tratamento of tipotratamentos" [ngValue]="tratamento.id">{{ tratamento.descricao }}</option>
                                </select>
                              </td>
                              <td class="frm_manifesto_servico_unidade" style="max-height: 18px;">
                                {{servico.unidade}}
                              </td>
                              <td class="frm_manifesto_servico_quantidade" style="max-height: 18px;">
                                <input class="preco" type="number" [(ngModel)]="servico.quantidade" style="text-align: right">
                              </td>
                              <td class="frm_manifesto_servico_quantidade" style="max-height: 18px;">
                                <input class="preco" type="number" [(ngModel)]="servico.quantidade_final" style="text-align: right">
                              </td>

                              <td class="frm_manifesto_servico_botao">
                                <a (click)="remlinha(servico)" class="tooltip">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                  <span class="tooltiptext">Excluir</span>
                                </a>
                              </td>
                              <!-- <td class="frm_manifesto_servico_botao">
                                <a (click)="editlinha(servico)" class="tooltip">
                                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                  <span class="tooltiptext">Editar</span>
                                </a>
                              </td> -->
                              <!-- <td class="frm_manifesto_servico_preco" style="max-height: 18px;">
                                    <input currencyMask class="preco" placeholder="Preço Compra" [(ngModel)]="servico.preco_compra" [disabled]="!servico.selecionado" style="max-height: 18px;">
                                  </td>
                                  <td class="frm_manifesto_servico_preco" style="max-height: 18px;">
                                    <input currencyMask class="preco" placeholder="Preço Serviço" [(ngModel)]="servico.preco_servico" [disabled]="!servico.selecionado" style="max-height: 18px;">
                                  </td> -->
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Anexo">
                  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                    <div fxFlex="70px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <div fxFlex="350px" fxFlexFill>
                          <label style="font-size: 12px; font-weight: bold; color: gray">Anexar pdf / imagem documento</label>
                          <input type="file" placeholder="Upload file" #fileInput accept=".pdf,.doc,.docx" style="width: 400px">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="70px" fxFlexAlign="start" *ngIf="manifesto.caminho" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <div fxFlex="300px" fxFlexFill>
                          <mat-form-field style="width: 300px;" *ngIf="manifesto.caminho">
                            <input matInput disabled placeholder="Documento Anexado" [(ngModel)]="manifesto.caminho">
                          </mat-form-field>
                        </div>
                        <div fxFlex="120px" fxFlexFill>
                          <a mat-button href={{linkDownload}}>
                            Download
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Observações">
                  <div fxLayou="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="width: 100%; height: 180px">
                    <div fxFlex="100%" fxFlexFill fxFlexAlign="start" style="height: 100%">
                      <mat-form-field style="width: 100%; height: 100%">
                        <textarea matInput #observacao placeholder="Observações" maxlength="1024" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6"
                          [(ngModel)]="manifesto.observacao"></textarea>
                        <mat-hint align="end">{{observacao.value?.length || 0}}/1024</mat-hint>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Pagamento">
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="380px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px" >
                        <div fxFlex="100%" fxFlexAlign="center" >
                          <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20ppx">
                            <div fxFlex="70px" fxFlexFill style="width: 100%;" fxFlexAlign="center">
                                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px" style="margin-top: 10px">
                                    <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                                        <mat-slide-toggle [(ngModel)]="pago" [color]="'primary'" tabindex="14">Pago</mat-slide-toggle>
                                    </div>
                                    <div fxFlex="150px" fxFlexAlign="start" fxFlexFill>
                                        <mat-form-field class="frm_manifesto_data">
                                          <input matInput type="date" #dtprevisaopagamento maxlength="10" placeholder="Previsão de Pagamento" tabindex="15" [ngModel]="manifesto.previsao_pagamento" (ngModelChange)="manifesto.previsao_pagamento = $event"
                                            [value]="manifesto.previsao_pagamento">
                                          <mat-hint align="end">{{dtprevisaopagamento.value?.length || 0}}/10</mat-hint>
                                          <!-- <mat-error *ngIf="valData.invalid">{{getErrorMessage(valData)}}</mat-error> -->
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="150px" fxFlexAlign="start" fxFlexFill>
                                        <mat-form-field class="frm_manifesto_data">
                                          <input matInput type="date" #dtpagamento maxlength="10" placeholder="Data de Pagamento" tabindex="16" [ngModel]="manifesto.data_pagamento" (ngModelChange)="manifesto.data_pagamento = $event"
                                            [value]="manifesto.data_pagamento" [required]="pago" [formControl]="valDataPagamento">
                                          <mat-hint align="end">{{dtpagamento.value?.length || 0}}/10</mat-hint>
                                          <mat-error *ngIf="valDataPagamento.invalid">{{getErrorMessage(valDataPagamento)}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                  </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                          <div fxFlex="70px" fxFlexAlign="center">
                            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">

                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
</div>

