<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
  <div fxFlex="140px" style="padding: 10px;" fxLayoutGap="10px" class="no_print">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="height: 100%" class="no_print">
      <div fxFlex="80%" fxFlexFill fxFlexAlign="center" class="no_print">
        <button id="btnImprimir" mat-raised-button color="primary" style="width: 100%" (click)="btnImprimir_click()">
          <mat-icon>print</mat-icon>
          <span>Imprimir</span>
        </button>
        <!-- <button id="btnIncluir" mat-raised-button color="primary" style="width: 100%" (click)="exportarPDF()">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Incluir</span>
        </button> -->
      </div>
      <div fxFlex="40px" fxFlexFill fxFlexAlign="end">

        <a routerLink="/relatorios/filtroordempagamento" mat-raised-button color="primary" style="width: 120px">
          <mat-icon>close</mat-icon>
          <span>Fechar</span>
        </a>
      </div>
    </div>
  </div>
  <div fxFlex="90%">
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
      <div fxFlex="80%" fxFlexAlign="start">
        <div fxLayout="column" class="frm_relatorio-loading-shade" fxLayoutAlign="center center" *ngIf="emProcessamento"
          style="align-items: center; width: 100%; height: 100%;">
          <div fxFlex="70" fxFlexAlign="center" style="width: 29cm">
            <mat-spinner></mat-spinner>
          </div>
          <div fxFlex="10" fxFlexAlign="center" style="width: 29cm">
            &nbsp;
          </div>
          <div fxFlex="20" fxFlexAlign="center" style="width: 29cm">
            <label>Aguarde...</label>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px" *ngIf="!emProcessamento" #relatorio>
          <div fxFlex="100%" fxFlexAlign="start" style="width: 21cm">
            <!-- Relatorios de receita - analiticos -->
            <div *ngFor="let item of ordempagamentos">
              <!-- <table class="a4" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 100%; border: 0px solid white;"
                border="0">
                <tr>
                  <th style="background-color: #FFFFFF; width: 200px">
                    <img src="assets/imagens/logoanimamundi.png" alt="profile Pic" height="50px" width="230px" style="width: 210px; height: 50px;">
                  </th>
                  <th style="background-color: #FFFFFF">
                    <div style="background-color: #FFFFFF; text-align: center">
                      <h2>Ordem de Pagamento</h2>
                    </div>
                  </th>
                  <th style="background-color: #FFFFFF; width: 200px">
                    <div style="text-align: right; font-size: 10px">Data / Hora: {{hoje | formatDate}} {{hoje |
                      date:'HH:mm'}}</div>
                  </th>
                </tr>
              </table>
              <table class="a4">
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Centro de Custo:</td>
                  <td style="text-align: left; width: 200px">Teste</td>
                  <td style="width: 80px; font-weight: bold">Atividade:</td>
                  <td>Contratação de serviços para exibição de animações</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Credor:</td>
                  <td colspan="3">fornecedor de teste</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Nota Fiscal:</td>
                  <td>2323</td>
                  <td style="width: 80px; font-weight: bold">Recibo:</td>
                  <td>3356</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Nº Parcela:</td>
                  <td>1 - 5</td>
                  <td style="width: 120px; font-weight: bold">Valor Parcela:</td>
                  <td>R$ 23,50</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Solicitado por:</td>
                  <td>Aloisio Torres Xavier</td>
                  <td style="width: 120px; font-weight: bold">Vencimento:</td>
                  <td>19/10/2018</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Autorizado por:</td>
                  <td>Aloisio Torres Xavier</td>
                  <td style="width: 120px; font-weight: bold">Valor Total:</td>
                  <td>R$ 23,50</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px">
                  <td style="width: 120px; font-weight: bold">Rubrica:</td>
                  <td colspan="3">_______________________________</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px; border-bottom: 1px dashed black">
                  <td colspan="4">&nbsp;</td>
                </tr>
              </table> -->
              <table class="a4" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 100%; border: 0px solid white;"
                border="0">
                <tr>
                  <th style="background-color: #FFFFFF; width: 200px">
                    <img src="assets/imagens/logoanimamundi.png" alt="profile Pic" height="50px" width="230px" style="width: 210px; height: 50px;">
                  </th>
                  <th style="background-color: #FFFFFF">
                    <div style="background-color: #FFFFFF; text-align: center">
                      <h2>Ordem de Pagamento</h2>
                    </div>
                  </th>
                  <th style="background-color: #FFFFFF; width: 200px">
                    <div style="text-align: right; font-size: 10px">Data / Hora: {{hoje | formatDate}} {{hoje |
                      date:'HH:mm'}}</div>
                  </th>
                </tr>
              </table>
              <table class="a4">
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Centro de Custo:</td>
                  <td style="text-align: left; width: 200px">{{item.centrocusto}}</td>
                  <td style="width: 80px; font-weight: bold">Atividade:</td>
                  <td>{{item.descricao}}</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Credor:</td>
                  <td colspan="3">{{item.fornecedor}}</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Nota Fiscal:</td>
                  <td>{{item.nota_fiscal}}</td>
                  <td style="width: 80px; font-weight: bold">Recibo:</td>
                  <td>{{item.recibo}}</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Nº Parcela:</td>
                  <td>{{item.parcela}}</td>
                  <td style="width: 120px; font-weight: bold">Valor Parcela:</td>
                  <td>{{item.valor_parcela | currency:'BRL':'symbol-narrow'}}</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Solicitado por:</td>
                  <td>{{item.usuario_contratante}}</td>
                  <td style="width: 120px; font-weight: bold">Vencimento:</td>
                  <td>{{item.vencimento | formatDate}}</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Autorizado por:</td>
                  <td>{{item.usuario_aprovacao}}</td>
                  <td style="width: 120px; font-weight: bold">Valor Total:</td>
                  <td>{{item.valor_total | currency:'BRL':'symbol-narrow'}}</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Rubrica:</td>
                  <td colspan="3">_______________________________</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px; border-bottom: 1px dashed black">
                  <td colspan="4">&nbsp;</td>
                </tr>
              </table>
              <!-- <table class="a4" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px; width: 100%; border: 0px solid white;"
                border="0">
                <tr>
                  <th style="background-color: #FFFFFF; width: 200px">
                    <img src="assets/imagens/logoanimamundi.png" alt="profile Pic" height="50px" width="230px" style="width: 210px; height: 50px;">
                  </th>
                  <th style="background-color: #FFFFFF">
                    <div style="background-color: #FFFFFF; text-align: center">
                      <h2>Ordem de Pagamento</h2>
                    </div>
                  </th>
                  <th style="background-color: #FFFFFF; width: 200px">
                    <div style="text-align: right; font-size: 10px">Data / Hora: {{hoje | formatDate}} {{hoje |
                      date:'HH:mm'}}</div>
                  </th>
                </tr>
              </table>
              <table class="a4">
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Centro de Custo:</td>
                  <td style="text-align: left; width: 200px">Teste</td>
                  <td style="width: 80px; font-weight: bold">Atividade:</td>
                  <td>Contratação de serviços para exibição de animações</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Credor:</td>
                  <td colspan="3">fornecedor de teste</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Nota Fiscal:</td>
                  <td>2323</td>
                  <td style="width: 80px; font-weight: bold">Recibo:</td>
                  <td>3356</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Nº Parcela:</td>
                  <td>1 - 5</td>
                  <td style="width: 120px; font-weight: bold">Valor Parcela:</td>
                  <td>R$ 23,50</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Solicitado por:</td>
                  <td>Aloisio Torres Xavier</td>
                  <td style="width: 120px; font-weight: bold">Vencimento:</td>
                  <td>19/10/2018</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Autorizado por:</td>
                  <td>Aloisio Torres Xavier</td>
                  <td style="width: 120px; font-weight: bold">Valor Total:</td>
                  <td>R$ 23,50</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px;">
                  <td style="width: 120px; font-weight: bold">Rubrica:</td>
                  <td colspan="3">_______________________________</td>
                </tr>
                <tr style="background-color: #FFFFFF; font-size: 14px; height: 30px; border-bottom: 1px dashed black">
                  <td colspan="4">&nbsp;</td>
                </tr>
              </table> -->
              <div class="page-break" *ngIf="quebraPagina()"></div>
              <!-- <table class="a4">
                <tr style="background-color: #FFFFFF; font-size: 12px; border-bottom: 1px solid black ">
                  <th>Aprovação</th>
                  <th>Centro Custo</th>
                  <th>Fornecedor</th>
                  <th style="text-align: right">Val Total</th>
                </tr>
                <tr *ngFor="let item of ordempagamentos" style="background-color: #FFFFFF; font-size: 10px; ">
                  <td>{{item.aprovacao | formatDate}}</td>
                  <td>{{item.centrocusto}}</td>
                  <td>{{item.fornecedor}}</td>
                  <td style="text-align: right">{{item.valor_total | currency:'BRL':true}}</td>
                </tr>
              </table> -->
              <!-- <hr>
                <table style="width: 100%">
                  <tr style="font-size: 10px">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right"></td>
                    <td style="text-align: center"></td>
                    <td colspan="2" style="text-align: right">
                      <b>Total Geral:</b> {{grupocliente.total_geral | currency:'BRL':true}}</td>
                  </tr>
                </table> -->
              <!-- </div>               -->
            </div>
            <!-- <div class="page-break" *ngIf="filtroRelatorio.despesa && filtroRelatorio.receita"></div>             -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
