<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
  <div fxFlex="140px" style="padding: 10px;" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="height: 100%">
      <div fxFlex="80%" fxFlexFill fxFlexAlign="center">
        <button id="btnSalvar" mat-raised-button color="primary" style="width: 100%" (click)="btnSalvar_click()">
          <mat-icon>save</mat-icon>
          <span>Salvar</span>
        </button>
        <button id="btnIncluir" mat-raised-button color="primary" style="width: 100%" (click)="btnIncluir_click()" *ngIf="exibeIncluir">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Incluir</span>
        </button>
        <button id="btnDuplicar" mat-raised-button color="primary" style="width: 100%" (click)="btnDuplicar_click()" *ngIf="this.contratofornecedor.id">
          <mat-icon>content_copy</mat-icon>
          <span>Duplicar</span>
        </button>
      </div>
      <div fxFlex="40px" fxFlexFill fxFlexAlign="end">
        <a routerLink="/contratofornecedores" mat-raised-button color="primary" style="width: 120px">
          <mat-icon>close</mat-icon>
          <span>Fechar</span>
        </a>
      </div>
    </div>
  </div>
  <div fxFlex="90%">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div fxFlex="50px" fxFlexAlign="start" style="padding: 10px;">
        <button id="lblTitulo" mat-raised-button style="width: 100%" disabled>
          <i class="fa fa-book" aria-hidden="true"></i>
          <i class="fa fa-truck" aria-hidden="true"></i>
          <span>CONTRATO DE FORNECEDOR</span>
        </button>
      </div>
      <div fxFlex="80%" fxFlexAlign="center">
        <div fxLayout="column" class="frm_contratofornecedor-loading-shade" fxLayoutAlign="center center" *ngIf="emProcessamento">
          <div fxFlex="70" fxFlexAlign="center">
            <mat-spinner></mat-spinner>
          </div>
          <div fxFlex="10" fxFlexAlign="center">
            &nbsp;
          </div>
          <div fxFlex="20" fxFlexAlign="center">
            <label>Aguarde...</label>
          </div>
        </div>
        <mat-card *ngIf="!emProcessamento" style="width: 850px; overflow: hidden;">
          <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">
            <div fxFlex="60px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" style="width: 100%">
                <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_contratofornecedor_codigo">
                    <input matInput disabled #codigo maxlength="9" type="number" tabindex="-1" placeholder="Código" required [(ngModel)]="contratofornecedor.id">
                  </mat-form-field>
                </div>
                <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_contratofornecedor_codigo">
                    <input matInput autofocus #focuscomp #codigofor maxlength="9" [formControl]="valCodigo" placeholder="Fornecedor" required
                      tabindex="1" [(ngModel)]="contratofornecedor.id_fornecedor" (keyup)="validaSaida($event.target.value)"
                      (keypress)="onlyNumber($event)" id="id_fornecedor">
                    <mat-hint align="end">{{codigofor.value?.length || 0}}/9</mat-hint>
                    <mat-error *ngIf="valCodigo.invalid">{{getErrorMessage(valCodigo)}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="30px" fxFlexAlign="center" fxFlexFill>
                  <button mat-icon-button color="primary" (click)="openPesquisa()" tabindex="2">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
                <div fxFlex="520px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_contratofornecedor_razao_social">
                    <input matInput disabled [(ngModel)]="contratofornecedor.fornecedor">
                  </mat-form-field>
                </div>
                <div fxFlex="150px" fxFlexFill>
                  <mat-checkbox class="example-margin" [(ngModel)]="contratofornecedor.exclusivo">Exclusivo</mat-checkbox>
                </div>
              </div>
            </div>
            <div fxFlex="60px" fxFlexAlign="start" *ngIf="contratofornecedor.exclusivo">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" style="width: 100%">
                <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_contratofornecedor_codigo">
                    <input matInput #codigocli maxlength="9" [formControl]="valCodigoCli" placeholder="Cliente" tabindex="1" [(ngModel)]="contratofornecedor.id_cliente"
                      (keyup)="validaSaidaCliente($event.target.value)" (keypress)="onlyNumber($event)">
                    <mat-hint align="end">{{codigocli.value?.length || 0}}/9</mat-hint>
                    <mat-error *ngIf="valCodigoCli.invalid">{{getErrorMessage(valCodigoCli)}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="30px" fxFlexAlign="center" fxFlexFill>
                  <button mat-icon-button color="primary" (click)="openPesquisaCliente()">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
                <div fxFlex="520px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_contratofornecedor_razao_social">
                    <input matInput disabled [(value)]="contratofornecedor.cliente">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxFlex="60px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div fxFlex="370px" fxFlexFill>
                  <mat-form-field class="frm_contratofornecedor_descricao">
                    <input matInput uppercase #descricao maxlength="50" [formControl]="valDescricao" placeholder="Descrição" tabindex="3" [(ngModel)]="contratofornecedor.descricao">
                    <mat-hint align="end">{{descricao.value?.length || 0}}/50</mat-hint>
                  </mat-form-field>
                </div>
                <div fxFlex="160px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_contratofornecedor_data">
                    <input matInput type="date" id="dtInicio" #dtemissao maxlength="10" placeholder="Data Inicio Vigência" tabindex="4" required
                      [ngModel]="contratofornecedor.vigencia_inicio" (ngModelChange)="contratofornecedor.vigencia_inicio = $event"
                      [value]="contratofornecedor.vigencia_inicio" [formControl]="valVigenciaInicial" id="vigencia_inicio">
                    <mat-hint align="end">{{dtemissao.value?.length || 0}}/10</mat-hint>
                    <mat-error *ngIf="valVigenciaInicial.invalid">{{getErrorMessage(valVigenciaInicial)}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="160px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_contratofornecedor_data">
                    <input matInput type="date" id="dtFinal" #dtvencimento maxlength="10" placeholder="Data Final Vigência" tabindex="5" required
                      [ngModel]="contratofornecedor.vigencia_final" (ngModelChange)="contratofornecedor.vigencia_final = $event"
                      [value]="contratofornecedor.vigencia_final" [formControl]="valVigenciaFinal" id="vigencia_final">
                    <mat-hint align="end">{{dtvencimento.value?.length || 0}}/10</mat-hint>
                    <mat-error *ngIf="valVigenciaFinal.invalid">{{getErrorMessage(valVigenciaFinal)}}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxFlex="350px" fxFlexAlign="start" fxFlexFill>
              <mat-tab-group tabindex="6">
                <mat-tab label="Resíduos">
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                    <div fxFlex="330px" fxFlexAlign="start" fxFlexFill style="overflow: hidden">
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="40px" fxFlexAlign="start">
                          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                            <div fxFlex="230px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_contratofornecedor_residuo">
                                <mat-select id="cbResiduo" placeholder="Residuo" [(value)]="contratofornecedorresiduo.id_residuo" tabindex="7">
                                  <mat-option *ngFor="let residuo of residuos" [value]="residuo.id">
                                    {{ residuo.descricao }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div fxFlex="170px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_contratofornecedor_servico">
                                <mat-select placeholder="Serviço" [(value)]="contratofornecedorresiduo.id_servico" tabindex="8">
                                  <mat-option *ngFor="let servico of servicos" [value]="servico.id">
                                    {{ servico.descricao }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div fxFlex="100px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_contratofornecedor_unidade">
                                <mat-select placeholder="Unidades" [(value)]="contratofornecedorresiduo.unidade" tabindex="9">
                                  <mat-option *ngFor="let unidade of unidades" [value]="unidade.codigo">
                                    {{ unidade.codigo }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div fxFlex="100px" fxFlexAlign="start" fxFlexFill>
                              <div class="group">
                                <input currencyMask type="text" class="atrainput" [(ngModel)]="contratofornecedorresiduo.preco_venda" style="height: 35px; width: 90px;"
                                  tabindex="10" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label class="atralabel">Preço Venda</label>
                              </div>
                            </div>
                            <div fxFlex="100px" fxFlexAlign="start" fxFlexFill>
                              <div class="group">
                                <input currencyMask type="text" class="atrainput" [(ngModel)]="contratofornecedorresiduo.preco_servico" style="height: 35px; width: 90px;"
                                  tabindex="11" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label class="atralabel">Preço Servico</label>
                              </div>
                            </div>
                            <div fxFlex="120px" fxFlexAlign="center" fxFlexFill>
                              <button mat-raised-button color="primary" (click)="addLinha()" tabindex="12">
                                <mat-icon>playlist_add</mat-icon>
                                <span>Adicionar</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="40px" fxFlexAlign="start" fxFlexFill>
                          <table>
                            <tr>
                              <th class="frm_contratofornecedor_residuo_residuo">
                                <label>Residuo</label>
                              </th>
                              <th class="frm_contratofornecedor_residuo_servico">
                                <label>Serviço</label>
                              </th>
                              <th class="frm_contratofornecedor_residuo_unidade">
                                <label>Unidade</label>
                              </th>
                              <th class="frm_contratofornecedor_residuo_preco">
                                <label>Preço Venda</label>
                              </th>
                              <th class="frm_contratofornecedor_residuo_preco">
                                <label>Preço Serviço</label>
                              </th>
                              <th class="frm_contratofornecedor_residuo_botao">
                              </th>
                              <th class="frm_contratofornecedor_residuo_botao">
                              </th>
                            </tr>
                          </table>
                        </div>
                        <div fxFlex="200px" fxFlexAlign="start" fxFlexFill style="overflow-x: hidden; overflow-y: auto;">
                          <table>

                            <tr *ngFor="let cfresiduo of contratofornecedorresiduos">
                              <td class="frm_contratofornecedor_residuo_residuo">
                                {{cfresiduo.residuo}}
                              </td>
                              <td class="frm_contratofornecedor_residuo_residuo">
                                {{cfresiduo.servico}}
                              </td>
                              <td class="frm_contratofornecedor_residuo_unidade" style="max-height: 18px;">
                                {{cfresiduo.unidade}}
                              </td>
                              <td class="frm_contratofornecedor_residuo_preco" style="max-height: 18px;">
                                {{cfresiduo.preco_venda | currency:'BRL':true}}
                              </td>
                              <td class="frm_contratofornecedor_residuo_preco" style="max-height: 18px;">
                                {{cfresiduo.preco_servico | currency:'BRL':true}}
                              </td>
                              <td class="frm_contratofornecedor_residuo_botao">
                                <a (click)="remLinha(cfresiduo)" class="tooltip">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                  <span class="tooltiptext">Excluir</span>
                                </a>
                                <!-- <button mat-icon-button color="primary" style="width: 13; height: 13;">
                                          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                                          <i class="fa fa-truck" aria-hidden="true"></i>
                                        </button> -->
                              </td>
                              <td class="frm_contratofornecedor_residuo_botao">
                                <a (click)="editlinha(cfresiduo)" class="tooltip">
                                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                  <span class="tooltiptext">Editar</span>
                                </a>
                                <!-- <button mat-icon-button class="size-15" color="primary" (click)="addlinha()" tabindex="2">
                                      <mat-icon>search</mat-icon>
                                    </button> -->
                              </td>
                              <!-- <td class="frm_contratocliente_servico_preco" style="max-height: 18px;">
                                        <input currencyMask class="preco" placeholder="Preço Compra" [(ngModel)]="servico.preco_compra" [disabled]="!servico.selecionado" style="max-height: 18px;">
                                      </td>
                                      <td class="frm_contratocliente_servico_preco" style="max-height: 18px;">
                                        <input currencyMask class="preco" placeholder="Preço Serviço" [(ngModel)]="servico.preco_servico" [disabled]="!servico.selecionado" style="max-height: 18px;">
                                      </td> -->
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Anexo">
                  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                    <div fxFlex="70px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <div fxFlex="350px" fxFlexFill>
                          <label style="font-size: 12px; font-weight: bold; color: gray">Anexar pdf / imagem documento</label>
                          <input type="file" placeholder="Upload file" #fileInput accept=".pdf,.doc,.docx" style="width: 400px">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="70px" fxFlexAlign="start" *ngIf="contratofornecedor.caminho" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <div fxFlex="300px" fxFlexFill>
                          <mat-form-field style="width: 300px;" *ngIf="contratofornecedor.caminho">
                            <input matInput disabled placeholder="Documento Anexado" [(ngModel)]="contratofornecedor.caminho">
                          </mat-form-field>
                        </div>
                        <div fxFlex="120px" fxFlexFill>
                          <a mat-button href={{linkDownload}}>
                            Download
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Observações">
                  <div fxLayou="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="width: 100%; height: 180px">
                    <div fxFlex="100%" fxFlexFill fxFlexAlign="start" style="height: 100%">
                      <mat-form-field style="width: 100%; height: 100%">
                        <textarea matInput #observacao placeholder="Observações" maxlength="1024" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6"
                          [(ngModel)]="contratofornecedor.observacao"></textarea>
                        <mat-hint align="end">{{observacao.value?.length || 0}}/1024</mat-hint>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
</div>
