
mat-icon-button.size-25 {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

mat-icon-button.size-15 {
  width: 10px !important;
  height: 10px !important;
  line-height: 0px !important;
  display: block !important;
}

.col_cnpj_cpf {
  width: 10%;
}

.col_clifor {
  width: 30%;
}

.col_manifestos {
  width: 55%;
}

.col_total {
  width: 5%;
}

.frm_receita-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  /* position: relative; */
  background: rgba(255, 255, 255, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.a4 {
  width: 100%;
}

table, th, td {
  font-family: Arial, sans-serif;
  border: 0px solid black;
  border-collapse: collapse;
}

th {
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.page-break {
  page-break-after: always;
}

.coldesp_cnpj_cpf {
  min-width: 10%;
  max-width: 10%;
  width: 10%;
}

.coldesp_clifor {
  min-width: 30%;
  max-width: 30%;
  width: 30%;
}

.coldesp_manifestos {
  min-width: 55%;
  max-width: 55%;
  width: 55%;
}

.coldesp_total {
  min-width: 5%;
  max-width: 5%;
  width: 5%;
}
