    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
      <div fxFlex="140px" style="padding: 10px;" fxLayoutGap="10px" >
        <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="height: 100%">
          <div fxFlex="80%" fxFlexFill fxFlexAlign="center">
            <button id="lblTitulo" mat-raised-button style="width: 100%" disabled>
              <i class="fa fa-cube" aria-hidden="true"></i>
              <span>PRODUTO</span>
            </button>
            <button id="btnSalvar" mat-raised-button color="primary" style="width: 100%" (click)="btnSalvar_click()">
              <mat-icon>save</mat-icon>
              <span>Salvar</span>
            </button>
            <button id="btnIncluir" mat-raised-button color="primary" style="width: 100%" (click)="btnIncluir_click()">
              <mat-icon>insert_drive_file</mat-icon>
              <span>Incluir</span>
            </button>
          </div>
          <div fxFlex="40px" fxFlexFill fxFlexAlign="end">

                <a routerLink="/" mat-raised-button color="primary" style="width: 120px">
                    <mat-icon>close</mat-icon>
                    <span>Fechar</span>
                </a>
          </div>
        </div>
      </div>
      <div fxFlex="90%">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="padding: 10px">
          <mat-card>
            <p>conteudo do formulario</p>
          </mat-card>
        </div>
      </div>
    </div>
