<div class="no_print">
  <mat-toolbar color="primary" style="background-color: green" class="no_print">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div fxFlex="30px" fxFlexFill style="align-items: center">
        <a href="#">
          <img src="assets/imagens/logo_sgr.png" style="width: 30px; height: 30px;">
        </a>
      </div>
      <div fxFlex="50px" fxFlexFill fxFlexAlign="center">
        <a class="no_print navbar-brand" href="#">
          <span class="no_print">&nbsp;SGR </span>
        </a>
      </div>
    </div>


    <!-- Cadastros -->
    <button mat-button [matMenuTriggerFor]="cadastros" *ngIf="Logado && perfil.cadastros == 'S'" class="no_print">
      <span style="color: white" class="no_print">Cadastros</span>
    </button>
    <mat-menu #cadastros="matMenu" [overlapTrigger]="false" class="no_print">
      <button mat-menu-item [routerLink]="['/servicos']" *ngIf="perfil.cadastros_servico == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-handshake-o"></mat-icon>
        <span>Serviços</span>
      </button>
      <button mat-menu-item [routerLink]="['/clientes']" *ngIf="perfil.cadastros_cliente == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-group"></mat-icon>
        <span>Cliente</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="contrato" *ngIf="perfil.cadastros_contrato == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-book"></mat-icon>
        <span>Contrato</span>
      </button>
      <!-- <button mat-menu-item [matMenuTriggerFor]="documento">
      <mat-icon fontSet="fontawesome" fontIcon="fa-id-card"></mat-icon>
      <span>Documento</span>
    </button> -->
      <button mat-menu-item [routerLink]="['/fornecedores']" *ngIf="perfil.cadastros_fornecedor == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon>
        <span>Fornecedor</span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="residuo" *ngIf="perfil.cadastros_residuo == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-recycle"></mat-icon>
        <span>Resíduo</span>
      </button>
      <button mat-menu-item [routerLink]="['/equipamentos']" *ngIf="perfil.cadastros_equipamento == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-wrench"></mat-icon>
        <span>Equipamento</span>
      </button>
      <!-- <button mat-menu-item [routerLink]="['/']">
      <mat-icon fontSet="fontawesome" fontIcon="fa-usd"></mat-icon>
      <span>Preço</span>
    </button> -->
    </mat-menu>
    <!-- Contrato -->
    <mat-menu #contrato="matMenu" class="no_print">
      <button mat-menu-item [routerLink]="['/contratoclientes']" *ngIf="perfil.cadastros_contrato_cliente == 'S'">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Cliente</span>
      </button>
      <button mat-menu-item [routerLink]="['/contratofornecedores']" *ngIf="perfil.cadastros_contrato_fornecedor == 'S'">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Fornecedor</span>
      </button>
    </mat-menu>
    <!-- Documento -->
    <!-- <mat-menu #documento="matMenu" class="no_print">
    <button mat-menu-item [routerLink]="['/clientedocumentos']">
      <span>Cliente</span>
    </button>
    <button mat-menu-item [routerLink]="['/fornecedordocumentos']">
      <span>Fornecedor</span>
    </button>
    <button mat-menu-item [routerLink]="['/tipodocumentos']">
      <span>Tipo de Documento</span>
    </button>
  </mat-menu> -->
    <!-- Residuo -->
    <mat-menu #residuo="matMenu" class="no_print">
      <button mat-menu-item [routerLink]="['/acondicionamentos']" *ngIf="perfil.cadastros_residuo_acondicionamento == 'S'">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Acondicionamento</span>
      </button>
      <button mat-menu-item [routerLink]="['/classeresiduos']" *ngIf="perfil.cadastros_residuo_classe_residuo == 'S'">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Classe de Resíduos</span>
      </button>
      <!-- <button mat-menu-item [routerLink]="['/tipoatividades']">
      <span>Tipo de Atividades</span>
    </button> -->
      <button mat-menu-item [routerLink]="['/residuos']" *ngIf="perfil.cadastros_residuo_residuos == 'S'">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Resíduos</span>
      </button>
      <button mat-menu-item [routerLink]="['/tipotratamentos']" *ngIf="perfil.cadastros_residuo_tipo_tratamento == 'S'">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Tipo de Tratamento</span>
      </button>
      <button mat-menu-item [routerLink]="['/tiporesiduos']" *ngIf="perfil.cadastros_residuo_tipo_residuo == 'S'">
        <span>Tipo de Resíduo</span>
      </button>
      <button mat-menu-item [routerLink]="['/unidades']" *ngIf="perfil.cadastros_residuo_unidade == 'S'">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon> -->
        <span>Unidade</span>
      </button>
    </mat-menu>
    <!-- Processos -->
    <button mat-button [matMenuTriggerFor]="processos" *ngIf="Logado && perfil.processos == 'S'">
      <span style="color: white" class="no_print">Processos</span>
    </button>
    <mat-menu #processos="matMenu" [overlapTrigger]="false" class="no_print">
      <button mat-menu-item [routerLink]="['/manifestos']" *ngIf="perfil.processos_manifesto == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-recycle"></mat-icon>
        <span>Manifesto</span>
      </button>
      <button mat-menu-item [routerLink]="['/monitordocumento']" *ngIf="perfil.processos_monitor_documento == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-group"></mat-icon>
        <span>Monitor de Documentos</span>
      </button>
      <button mat-menu-item [routerLink]="['/locacoes']" *ngIf="perfil.processos_apuracao_locacao == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-calculator"></mat-icon>
        <span>Apuração de Locações</span>
      </button>
      <button mat-menu-item [routerLink]="['/pesagens']" *ngIf="perfil.processos_pesagem == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-balance-scale"></mat-icon>
        <span>Pesagem</span>
      </button>
      <!-- <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-cubes"></mat-icon>
      <span>Medição e envio para Financeiro</span>
    </button> -->
    </mat-menu>
    <!-- Relatórios -->

    <button mat-button [matMenuTriggerFor]="relatorios" *ngIf="Logado && perfil.relatorios == 'S'">
      <span style="color: white" class="no_print">Relatórios</span>
    </button>
    <mat-menu #relatorios="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [matMenuTriggerFor]="relatoriosgerenciais" *ngIf="perfil.relatorios_gerencial == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-user"></mat-icon>
        <span>Gerencial</span>
      </button>
      <!-- <button mat-menu-item [routerLink]="['/relatorios/receita']">
      <mat-icon fontSet="fontawesome" fontIcon="fa-dollar"></mat-icon>
      <span>Receitas</span>
    </button> -->
      <!-- <button mat-menu-item [routerLink]="['/relatorios/despesa']">
      <mat-icon fontSet="fontawesome" fontIcon="fa-dollar"></mat-icon>
      <span>Despesas</span>
    </button> -->
      <button mat-menu-item [routerLink]="['/relatorios/maparesiduos']" *ngIf="perfil.relatorios_mapa_residuos == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-list-alt"></mat-icon>
        <span>Mapa de Resíduos</span>
      </button>
      <button mat-menu-item [routerLink]="['/relatorios/pesagem']" *ngIf="perfil.relatorios_controle_pesagem == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-balance-scale"></mat-icon>
        <span>Controle de Pesagem</span>
      </button>
    </mat-menu>
    <mat-menu #relatoriosgerenciais="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [routerLink]="['/relatorios/cliente']" *ngIf="perfil.relatorios_gerencia_cliente == 'S'">
        <!-- <button mat-menu-item [routerLink]="['/relatorios/receitacliente',{mensagem:'mensagem de teste'}]"></button> -->
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-group"></mat-icon> -->
        <span>Cliente</span>
      </button>
      <button mat-menu-item [routerLink]="['/relatorios/gerencial']" *ngIf="perfil.relatorios_gerencia_ambiente_verde == 'S'">
        <!-- <mat-icon fontSet="fontawesome" fontIcon="fa-cubes"></mat-icon> -->
        <span>Ambiente Verde</span>
      </button>
    </mat-menu>
    <!-- Utilitários -->
    <!-- <button mat-button [matMenuTriggerFor]="utilitarios" *ngIf="Logado">
    <span style="color: white">Utilitários</span>
  </button>
  <mat-menu #utilitarios="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-group"></mat-icon>
      <span>Clientes</span>
    </button>
    <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-cubes"></mat-icon>
      <span>Produtos</span>
    </button>
    <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-exchange"></mat-icon>
      <span>Movimentações</span>
    </button>
  </mat-menu> -->
    <!-- Financeiro -->
    <!-- <button mat-button [matMenuTriggerFor]="financeiro" *ngIf="Logado">
    <span style="color: white">Financeiro</span>
  </button>
  <mat-menu #financeiro="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-group"></mat-icon>
      <span>Receita</span>
    </button>
    <button mat-menu-item>
      <mat-icon fontSet="fontawesome" fontIcon="fa-cubes"></mat-icon>
      <span>Despesa</span>
    </button>
  </mat-menu> -->
    <span class="espaco"></span>
    <button mat-button [matMenuTriggerFor]="loginsistema" *ngIf="Logado">
      <i class="fa fa-user-o no_print" aria-hidden="true"></i>
      <span style="color: white" class="no_print"> {{Usuario.name}}</span>
    </button>
    <mat-menu #loginsistema="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngIf="perfil.aclcontrol_adicionar_usuario == 'S'" (click)="openAddUsuario()">
        <mat-icon fontSet="fontawesome" fontIcon="fa-user-plus"></mat-icon>
        <span>Adicionar Usuário</span>
      </button>
      <button mat-menu-item *ngIf="perfil.aclcontrol_adicionar_usuario == 'S'" (click)="openEditUsuario()">
          <mat-icon fontSet="fontawesome" fontIcon="fa-user-times"></mat-icon>
          <span>Alterar Usuário</span>
        </button>
      <button mat-menu-item (click)="openChangePasswordtUsuario()">
        <mat-icon fontSet="fontawesome" fontIcon="fa-lock"></mat-icon>
        <i class="fa fa-exchange" aria-hidden="true"></i>
        <span>Trocar Senha</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon fontSet="fontawesome" fontIcon="fa-power-off"></mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
    <button mat-button *ngIf="!Logado" (click)="openLoginDialog()">
      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      <span style="color: white">Login</span>
    </button>
  </mat-toolbar>
</div>
<!-- <app-alerts [defaultSettings]="options"></app-alerts> -->
<!-- <button mat-raised-button (click)="converte()"> open </button> -->
<router-outlet *ngIf="Logado"></router-outlet>
