<div class="no_print">
  <mat-toolbar color="primary" class="no_print">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div fxFlex="47px" fxFlexFill style="align-items: center">
        <a href="#">
          <img src="assets/imagens/logo_atra.png" style="width: 47px; height: 55px;">
        </a>
      </div>
      <div fxFlex="120px" fxFlexFill fxFlexAlign="center">
        <a class="no_print navbar-brand" href="#">
          <span class="no_print">&nbsp;ATRA-SIA </span>
        </a>
      </div>
    </div>


    <!-- Cadastros -->
    <button mat-button [matMenuTriggerFor]="cadastros" *ngIf="Logado && perfil.cadastros == 'S'" class="no_print">
      <span style="color: white" class="no_print">Cadastros</span>
    </button>
    <mat-menu #cadastros="matMenu" [overlapTrigger]="false" class="no_print">

      <button mat-menu-item [routerLink]="['/servicos']" *ngIf="perfil.cadastros_servico == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-handshake-o"></mat-icon>
        <span>Serviços</span>
      </button>

      <button mat-menu-item [routerLink]="['/fornecedores']" *ngIf="perfil.cadastros_fornecedor == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-truck"></mat-icon>
        <span>Fornecedor</span>
      </button>

      <button mat-menu-item [routerLink]="['/funcoes']" *ngIf="perfil.cadastros_funcao == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-wrench"></mat-icon>
        <span>Função</span>
      </button>
      <button mat-menu-item [routerLink]="['/centrocustos']" *ngIf="perfil.cadastros_centro_custo == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-creative-commons"></mat-icon>
        <span>Centro de Custo</span>
      </button>

    </mat-menu>

    <!-- Processos -->
    <button mat-button [matMenuTriggerFor]="processos" *ngIf="Logado && perfil.processos == 'S'">
      <span style="color: white" class="no_print">Processos</span>
    </button>
    <mat-menu #processos="matMenu" [overlapTrigger]="false" class="no_print">
      <button mat-menu-item [routerLink]="['/ordempagamentos']" *ngIf="perfil.processos_ordem_pagamento == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-usd"></mat-icon>
        <span>Ordem de Pagamento</span>
      </button>
      <button mat-menu-item [routerLink]="['/aprovacaopagamentos']" *ngIf="perfil.processos_aprovacao_pagamento == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-check"></mat-icon>
        <mat-icon fontSet="fontawesome" fontIcon="fa-usd"></mat-icon>
        <span>Aprovação de Pagamento</span>
      </button>

    </mat-menu>
    <!-- Relatórios -->

    <button mat-button [matMenuTriggerFor]="relatorios" *ngIf="Logado && perfil.relatorios == 'S'">
      <span style="color: white" class="no_print">Relatórios</span>
    </button>
    <mat-menu #relatorios="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [routerLink]="['/relatorios/fornecedor']" *ngIf="perfil.relatorios_listagem_fornecedores == 'S'">
        <span>Listagem de Fornecedores</span>
      </button>
      <button mat-menu-item [routerLink]="['/relatorios/filtrolistagemordempagamento']" *ngIf="perfil.relatorios_listagem_ordem_pagamento == 'S'">
        <span>Listagem de Ordens de Pagamento</span>
      </button>
      <button mat-menu-item [routerLink]="['/relatorios/filtroordempagamento']" *ngIf="perfil.relatorios_ordem_pagamento == 'S'">
        <span>Ordens de Pagamentos</span>
      </button>
    </mat-menu>

    <!-- Utilitários -->

    <span class="espaco"></span>
    <button mat-button [matMenuTriggerFor]="loginsistema" *ngIf="Logado">
      <i class="fa fa-user-o no_print" aria-hidden="true"></i>
      <span style="color: white" class="no_print"> {{Usuario.name}}</span>
    </button>
    <mat-menu #loginsistema="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngIf="perfil.aclcontrol_adicionar_usuario == 'S'" (click)="openAddUsuario()">
        <mat-icon fontSet="fontawesome" fontIcon="fa-user-plus"></mat-icon>
        <span>Adicionar Usuário</span>
      </button>
      <button mat-menu-item *ngIf="perfil.aclcontrol_alterar_usuario == 'S'" (click)="openEditUsuario()">
        <mat-icon fontSet="fontawesome" fontIcon="fa-user-times"></mat-icon>
        <span>Alterar Usuário</span>
      </button>
      <button mat-menu-item [routerLink]="['/usuariocentrocustos']" *ngIf="perfil.aclcontrol_usuario_centro_custo == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-user"></mat-icon>
        <mat-icon fontSet="fontawesome" fontIcon="fa-creative-commons"></mat-icon>
        <span>Usuário x Centro de Custo</span>
      </button>
      <button mat-menu-item [routerLink]="['/usuarioempresas']" *ngIf="perfil.aclcontrol_usuario_empresa == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-user"></mat-icon>
        <mat-icon fontSet="fontawesome" fontIcon="fa-industry"></mat-icon>
        <span>Usuário x Empresa</span>
      </button>
      <button mat-menu-item [routerLink]="['/perfis']" *ngIf="perfil.aclcontrol_perfil == 'S'">
        <mat-icon fontSet="fontawesome" fontIcon="fa-vcard-o"></mat-icon>
        <span>Perfis</span>
      </button>
      <button mat-menu-item *ngIf="perfil.aclcontrol_redefinir_senha == 'S'" (click)="openChangePasswordtUsuario()">
        <mat-icon fontSet="fontawesome" fontIcon="fa-lock"></mat-icon>
        <i class="fa fa-exchange" aria-hidden="true"></i>
        <span>Trocar Senha</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon fontSet="fontawesome" fontIcon="fa-power-off"></mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
    <button mat-button *ngIf="!Logado" (click)="openLoginDialog()">
      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
      <span style="color: white">Login</span>
    </button>
  </mat-toolbar>
</div>

<router-outlet *ngIf="Logado"></router-outlet>
