<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
  <div fxFlex="140px" style="padding: 10px;" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="height: 100%">
      <div fxFlex="80%" fxFlexFill fxFlexAlign="center">
        <button id="btnSalvar" mat-raised-button color="primary" style="width: 100%" (click)="btnSalvar_click()">
          <mat-icon>save</mat-icon>
          <span>Salvar</span>
        </button>
        <button id="btnIncluir" mat-raised-button color="primary" style="width: 100%" (click)="btnIncluir_click()" *ngIf="exibeIncluir">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Incluir</span>
        </button>
      </div>
      <div fxFlex="40px" fxFlexFill fxFlexAlign="end">

        <a routerLink="/contratoclientes" mat-raised-button color="primary" style="width: 120px">
          <mat-icon>close</mat-icon>
          <span>Fechar</span>
        </a>
      </div>
    </div>
  </div>
  <div fxFlex="90%">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div fxFlex="50px" fxFlexAlign="start" style="padding: 10px;">
        <button id="lblTitulo" mat-raised-button style="width: 100%" disabled>
          <i class="fa fa-book" aria-hidden="true"></i>
          <i class="fa fa-user" aria-hidden="true"></i>
          <span>CONTRATO DE CLIENTE</span>
        </button>
      </div>
      <div fxFlex="80%" fxFlexAlign="center">
        <div fxLayout="column" class="frm_contratocliente-loading-shade" fxLayoutAlign="center center" *ngIf="emProcessamento">
          <div fxFlex="70" fxFlexAlign="center">
            <mat-spinner></mat-spinner>
          </div>
          <div fxFlex="10" fxFlexAlign="center">
            &nbsp;
          </div>
          <div fxFlex="20" fxFlexAlign="center">
            <label>Aguarde...</label>
          </div>
        </div>
        <mat-card *ngIf="!emProcessamento" style="width: 1000px; overflow: hidden;">
          <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxFlex="50px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="width: 100%">
                <div fxFlex="120px" fxFlexAlign="start">
                  <mat-form-field class="frm_contratocliente_codigo">
                    <input matInput disabled #codigo maxlength="9" type="number" tabindex="-1" placeholder="Código" required [(ngModel)]="contratocliente.id">
                  </mat-form-field>
                </div>
                <div fxFlex="120px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_contratocliente_codigo">
                    <input matInput autofocus #focuscomp #codigofor maxlength="9" [formControl]="valCodigo" placeholder="Cliente" required tabindex="1"
                      [(ngModel)]="contratocliente.id_cliente" (keyup)="validaSaida($event.target.value)" (keypress)="onlyNumber($event)"
                      id="id_cliente">
                    <mat-hint align="end">{{codigofor.value?.length || 0}}/9</mat-hint>
                    <mat-error *ngIf="valCodigo.invalid">{{getErrorMessage(valCodigo)}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="45px" fxFlexAlign="center" fxFlexFill>
                  <button mat-icon-button color="primary" (click)="openPesquisa()" tabindex="2">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
                <div fxFlex="520px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_contratocliente_razao_social">
                    <input matInput disabled [(ngModel)]="contratocliente.cliente">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxFlex="60px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                <div fxFlex="370px" fxFlexFill>
                  <mat-form-field class="frm_contratocliente_descricao">
                    <input matInput uppercase #descricao maxlength="50" [formControl]="valDescricao" placeholder="Descrição" tabindex="3" [(ngModel)]="contratocliente.descricao">
                    <mat-hint align="end">{{descricao.value?.length || 0}}/50</mat-hint>
                    <mat-error *ngIf="valDescricao.invalid">{{getErrorMessage(valDescricao)}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="160px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_contratocliente_data">
                    <input matInput type="date" #dtemissao maxlength="10" placeholder="Data Inicio Vigência" tabindex="4" [ngModel]="contratocliente.vigencia_inicio"
                      (ngModelChange)="contratocliente.vigencia_inicio = $event" [value]="contratocliente.vigencia_inicio"
                      required [formControl]="valVigenciaInicio" id="vigencia_inicio">
                    <mat-hint align="end">{{dtemissao.value?.length || 0}}/10</mat-hint>
                    <mat-error *ngIf="valVigenciaInicio.invalid">{{getErrorMessage(valVigenciaInicio)}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="160px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_contratocliente_data">
                    <input matInput type="date" #dtvencimento maxlength="10" placeholder="Data Final Vigência" tabindex="5" [ngModel]="contratocliente.vigencia_final"
                      (ngModelChange)="contratocliente.vigencia_final = $event" [value]="contratocliente.vigencia_final" [formControl]="valVigenciaFinal"
                      required id="vigencia_final">
                    <mat-hint align="end">{{dtvencimento.value?.length || 0}}/10</mat-hint>
                    <mat-error *ngIf="valVigenciaFinal.invalid">{{getErrorMessage(valVigenciaFinal)}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="170px" fxFlexAlign="start" fxFlexFill>
                  <div class="group">
                    <input currencyMask type="text" class="atrainput" [(ngModel)]="contratocliente.faturamento_minimo" style="height: 40px; width: 105px;"
                      tabindex="6" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label class="atralabel">Faturamento Mínimo</label>
                  </div>
                </div>
              </div>
            </div>
            <div fxFlex="310px" fxFlexAlign="start" fxFlexFill>
              <mat-tab-group>
                <mat-tab label="Resíduos">
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                    <div fxFlex="300px" fxFlexAlign="start" fxFlexFill style="overflow: hidden">
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="40px" fxFlexAlign="start">
                          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                            <div fxFlex="200px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_contratocliente_servico">
                                <mat-select placeholder="Serviços" [(ngModel)]="contratoclienteresiduo.id_servico" required [formControl]="valServico" tabindex="7"
                                  id="id_servico" (change)="servicoChange($event)">
                                  <!-- <mat-option></mat-option> -->
                                  <mat-option *ngFor="let servico of servicos" [value]="servico.id">
                                    {{ servico.descricao }}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="valServico.invalid">{{getErrorMessage(valServico)}}</mat-error>
                              </mat-form-field>
                            </div>
                            <div fxFlex="200px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_contratocliente_residuo">
                                <mat-select placeholder="Residuo" [(ngModel)]="contratoclienteresiduo.id_residuo" tabindex="8" required [formControl]="valResiduo"
                                  id="id_residuo" (change)="residuoChange($event)">
                                  <!-- <mat-option></mat-option> -->
                                  <mat-option *ngFor="let residuo of residuos" [value]="residuo.id">
                                    {{ residuo.descricao }}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="valResiduo.invalid">{{getErrorMessage(valResiduo)}}</mat-error>
                              </mat-form-field>
                            </div>
                            <div fxFlex="100px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_contratocliente_unidade">
                                <mat-select placeholder="Unidades" [(ngModel)]="contratoclienteresiduo.unidade" tabindex="9" required (change)="unidadeChange($event)"
                                  [formControl]="valUnidade" id="unidade">
                                  <!-- <mat-option></mat-option> -->
                                  <mat-option *ngFor="let unidade of unidades" [value]="unidade.codigo">
                                    {{ unidade.codigo }}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="valUnidade.invalid">{{getErrorMessage(valUnidade)}}</mat-error>
                              </mat-form-field>
                            </div>
                            <div fxFlex="480px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_contratocliente_fornecedor">
                                <mat-select placeholder="Fornecedor" [(ngModel)]="contratoclienteresiduo.id_contrato_fornecedor" tabindex="10" [formControl]="valCtrFornecedor"
                                  required id="id_contrato_fornecedor">
                                  <!-- <mat-option></mat-option> -->
                                  <mat-option *ngFor="let contrato of contratofornecedorresiduos" [value]="contrato.id_contrato">
                                    {{ contrato.fornecedor }} | Preço Venda: {{contrato.preco_venda | currency:'BRL':true}} | Preço Servico: {{contrato.preco_servico
                                    | currency:'BRL':true}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="valCtrFornecedor.invalid">{{getErrorMessage(valCtrFornecedor)}}</mat-error>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="70px" fxFlexAlign="start">
                          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                            <div fxFlex="120px" fxFlexAlign="start" fxFlexFill>
                              <div class="group">
                                <input currencyMask type="text" class="atrainput" [(ngModel)]="contratoclienteresiduo.preco_compra" style="height: 25px; width: 105px;"
                                  tabindex="11" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label class="atralabel">Preço Compra</label>
                              </div>
                            </div>
                            <div fxFlex="120px" fxFlexAlign="start" fxFlexFill>
                              <div class="group">
                                <input currencyMask type="text" class="atrainput" [(ngModel)]="contratoclienteresiduo.preco_servico" style="height: 25px; width: 105px;"
                                  tabindex="12" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label class="atralabel">Preço Servico</label>
                              </div>
                            </div>
                            <div fxFlex="120px" fxFlexAlign="center" fxFlexFill>
                              <button mat-raised-button color="primary" (click)="addlinha()" tabindex="13" style="margin-bottom: 10px">
                                <mat-icon>playlist_add</mat-icon>
                                <span>Adicionar</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="40px" fxFlexAlign="start" fxFlexFill>
                          <table>
                            <tr>
                              <th class="frm_contratocliente_residuo_servico">
                                <label>Serviço</label>
                              </th>
                              <th class="frm_contratocliente_residuo_residuo">
                                <label>Residuo</label>
                              </th>
                              <th class="frm_contratocliente_residuo_unidade">
                                <label>Unidade</label>
                              </th>
                              <th class="frm_contratocliente_residuo_preco">
                                <label>Preço Compra</label>
                              </th>
                              <th class="frm_contratocliente_residuo_preco">
                                <label>Preço Serviço</label>
                              </th>
                              <th class="frm_contratocliente_residuo_botao">
                              </th>
                              <th class="frm_contratocliente_residuo_botao">
                              </th>
                            </tr>
                          </table>
                        </div>
                        <div fxFlex="130px" fxFlexAlign="start" fxFlexFill style="overflow-x: hidden; overflow-y: auto;">
                          <table>
                            <tr *ngFor="let ccresiduo of contratoclienteresiduos">
                              <td class="frm_contratocliente_residuo_servico">
                                {{ccresiduo.servico}}
                              </td>
                              <td class="frm_contratocliente_residuo_residuo">
                                {{ccresiduo.residuo}}
                              </td>
                              <td class="frm_contratocliente_residuo_unidade" style="max-height: 18px;">
                                {{ccresiduo.unidade}}
                              </td>
                              <td class="frm_contratocliente_residuo_preco" style="max-height: 18px;">
                                {{ccresiduo.preco_compra | currency:'BRL':true}}
                              </td>
                              <td class="frm_contratocliente_residuo_preco" style="max-height: 18px;">
                                {{ccresiduo.preco_servico | currency:'BRL':true}}
                              </td>
                              <td class="frm_contratocliente_residuo_botao">
                                <a (click)="remlinha(ccresiduo)" class="tooltip">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                  <span class="tooltiptext">Excluir</span>
                                </a>
                                <!-- <button mat-icon-button color="primary" style="width: 13; height: 13;">
                                          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                                          <i class="fa fa-truck" aria-hidden="true"></i>
                                        </button> -->
                              </td>
                              <td class="frm_contratocliente_residuo_botao">
                                <a (click)="editlinha(ccresiduo)" class="tooltip">
                                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                  <span class="tooltiptext">Editar</span>
                                </a>
                                <!-- <button mat-icon-button class="size-15" color="primary" (click)="addlinha()" tabindex="2">
                                      <mat-icon>search</mat-icon>
                                    </button> -->
                              </td>
                              <!-- <td class="frm_contratocliente_servico_preco" style="max-height: 18px;">
                                        <input currencyMask class="preco" placeholder="Preço Compra" [(ngModel)]="servico.preco_compra" [disabled]="!servico.selecionado" style="max-height: 18px;">
                                      </td>
                                      <td class="frm_contratocliente_servico_preco" style="max-height: 18px;">
                                        <input currencyMask class="preco" placeholder="Preço Serviço" [(ngModel)]="servico.preco_servico" [disabled]="!servico.selecionado" style="max-height: 18px;">
                                      </td> -->
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Anexo">
                  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                    <div fxFlex="70px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <div fxFlex="350px" fxFlexFill>
                          <label style="font-size: 12px; font-weight: bold; color: gray">Anexar pdf / imagem documento</label>
                          <input type="file" placeholder="Upload file" #fileInput accept=".pdf,.doc,.docx" style="width: 400px" tabindex="13">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="70px" fxFlexAlign="start" *ngIf="contratocliente.caminho" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <div fxFlex="300px" fxFlexFill>
                          <mat-form-field style="width: 300px;" *ngIf="contratocliente.caminho">
                            <input matInput disabled placeholder="Documento Anexado" [(ngModel)]="contratocliente.caminho">
                          </mat-form-field>
                        </div>
                        <div fxFlex="120px" fxFlexFill>
                          <a mat-button href={{linkDownload}}>
                            Download
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Locação de Equipamentos">
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                    <div fxFlex="300px" fxFlexAlign="start" fxFlexFill style="overflow: hidden">
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="65px" fxFlexAlign="start">
                          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                            <div fxFlex="200px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_contratocliente_equipamento">
                                <mat-select placeholder="Equipamento" [(ngModel)]="contratoclienteequipamento.id_equipamento" required [formControl]="valEquipamento" tabindex="14"
                                  id="id_equipamento" (change)="equipamentoChange($event)">
                                  <!-- <mat-option></mat-option> -->
                                  <mat-option *ngFor="let equipamento of equipamentos" [value]="equipamento.id">
                                    {{ equipamento.descricao }}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="valEquipamento.invalid">{{getErrorMessage(valEquipamento)}}</mat-error>
                              </mat-form-field>
                            </div>
                            <div fxFlex="100px" fxFlexAlign="start" fxFlexFill>
                              <mat-form-field class="frm_contratocliente_unidade">
                                <mat-select placeholder="Unidades" [(ngModel)]="contratoclienteequipamento.unidade" tabindex="15" required (change)="unidadeEquipamentoChange($event)"
                                  [formControl]="valUnidadeEquip" id="unidade">
                                  <mat-option *ngFor="let unidade of unidades" [value]="unidade.codigo">
                                    {{ unidade.codigo }}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="valUnidadeEquip.invalid">{{getErrorMessage(valUnidadeEquip)}}</mat-error>
                              </mat-form-field>
                            </div>
                            <div fxFlex="120px" fxFlexAlign="start" fxFlexFill>
                              <div class="group_Preco">
                                <input currencyMask type="text" class="atrainput_Preco" [(ngModel)]="contratoclienteequipamento.preco" style="height: 35px; width: 105px;"
                                  tabindex="16" required [formControl]="valPrecoEquipamento">
                                <span class="highlight_Preco"></span>
                                <span class="bar_Preco"></span>
                                <label class="atralabel_Preco">Preço</label>
                              </div>
                            </div>
                            <div fxFlex="120px" fxFlexAlign="center" fxFlexFill>
                              <button mat-raised-button color="primary" (click)="addGridEquipamentos()" tabindex="17" style="margin-bottom: 10px">
                                <mat-icon>playlist_add</mat-icon>
                                <span>Adicionar</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="40px" fxFlexAlign="start" fxFlexFill>
                          <table>
                            <tr>
                              <th class="frm_contratocliente_residuo_servico">
                                <label>Equipamento</label>
                              </th>
                              <th class="frm_contratocliente_residuo_unidade">
                                <label>Unidade</label>
                              </th>
                              <th class="frm_contratocliente_residuo_preco">
                                <label>Preço</label>
                              </th>
                              <th class="frm_contratocliente_residuo_botao">
                              </th>
                              <th class="frm_contratocliente_residuo_botao">
                              </th>
                            </tr>
                          </table>
                        </div>
                        <div fxFlex="130px" fxFlexAlign="start" fxFlexFill style="overflow-x: hidden; overflow-y: auto;">
                          <table>
                            <tr *ngFor="let item of contratoclienteequipamentos">
                              <td class="frm_contratocliente_residuo_servico">
                                {{item.equipamento}}
                              </td>
                              <td class="frm_contratocliente_residuo_unidade" style="max-height: 18px;">
                                {{item.unidade}}
                              </td>
                              <td class="frm_contratocliente_residuo_preco" style="max-height: 18px;">
                                {{item.preco | currency:'BRL':true}}
                              </td>
                              <td class="frm_contratocliente_residuo_botao">
                                <a (click)="deleteGridEquipamentos(item)" class="tooltip">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                  <span class="tooltiptext">Excluir</span>
                                </a>
                              </td>
                              <td class="frm_contratocliente_residuo_botao">
                                <a (click)="editGridEquipamentos(item)" class="tooltip">
                                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                  <span class="tooltiptext">Editar</span>
                                </a>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Observações">
                  <div fxLayou="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="width: 100%; height: 180px">
                    <div fxFlex="100%" fxFlexFill fxFlexAlign="start" style="height: 100%">
                      <mat-form-field style="width: 100%; height: 100%">
                        <textarea matInput #observacao placeholder="Observações" maxlength="1024" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6"
                          [(ngModel)]="contratocliente.observacao"></textarea>
                        <mat-hint align="end">{{observacao.value?.length || 0}}/1024</mat-hint>
                      </mat-form-field>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
</div>
