<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
  <div fxFlex="140px" style="padding: 10px;" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="height: 100%">
      <div fxFlex="80%" fxFlexFill fxFlexAlign="center">
        <button id="btnSalvar" mat-raised-button color="primary" style="width: 100%" (click)="btnSalvar_click()">
          <mat-icon>save</mat-icon>
          <span>Salvar</span>
        </button>
        <button id="btnIncluir" mat-raised-button color="primary" style="width: 100%" (click)="btnIncluir_click()" *ngIf="exibeIncluir">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Incluir</span>
        </button>
      </div>
      <div fxFlex="40px" fxFlexFill fxFlexAlign="end">

        <a routerLink="/residuos" mat-raised-button color="primary" style="width: 120px">
          <mat-icon>close</mat-icon>
          <span>Fechar</span>
        </a>
      </div>
    </div>
  </div>
  <div fxFlex="90%">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div fxFlex="50px" fxFlexAlign="start" style="padding: 10px;">
        <button id="lblTitulo" mat-raised-button style="width: 100%" disabled>
          <i class="fa fa-recycle" aria-hidden="true"></i>
          <span>RESÍDUO</span>
        </button>
      </div>
      <div fxFlex="80%" fxFlexAlign="center">
        <div fxLayout="column" class="frm_residuo-loading-shade" fxLayoutAlign="center center" *ngIf="emProcessamento">
          <div fxFlex="70" fxFlexAlign="center">
            <mat-spinner></mat-spinner>
          </div>
          <div fxFlex="10" fxFlexAlign="center">
            &nbsp;
          </div>
          <div fxFlex="20" fxFlexAlign="center">
            <label>Aguarde...</label>
          </div>
        </div>
        <mat-card *ngIf="!emProcessamento">
          <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
            <input type="hidden" value={{residuo.id}} tabindex="3">
            <div fxFlex="60px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <div fxFlex="120px" fxFlexFill fxFlexAlign="center">
                  <mat-form-field class="frm_residuo_codigo">
                    <input matInput disabled #codigo maxlength="9" type="number" tabindex="-1" placeholder="Código" required [(ngModel)]="residuo.id">
                    <!-- <mat-hint align="end">{{codigo.value?.length || 0}}/9</mat-hint>
                            <mat-error *ngIf="valCodigo.invalid">{{getCodigoErrorMessage()}}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxFlex="60px" fxFlexAlign="start">
              <mat-form-field class="frm_residuo_descricao">
                <input matInput uppercase autofocus #descricao #focuscomp maxlength="50" [formControl]="valDescricao" placeholder="Descrição"
                  required tabindex="1" [(ngModel)]="residuo.descricao">
                <mat-hint align="end">{{descricao.value?.length || 0}}/50</mat-hint>
                <mat-error *ngIf="valDescricao.invalid">{{getDescricaoErrorMessage()}}</mat-error>
              </mat-form-field>
            </div>
            <div fxFlex="60px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <div fxFlex="120px" fxFlexFill fxFlexAlign="center">
                  <mat-form-field class="frm_residuo_codigo">
                    <input matInput #codigonbr maxlength="20" type="number" tabindex="2" placeholder="Código NBR" [(ngModel)]="residuo.codigo_nbr">
                    <mat-hint align="end">{{codigonbr.value?.length || 0}}/20</mat-hint>
                    <!-- <mat-error *ngIf="valCodigo.invalid">{{getCodigoErrorMessage()}}</mat-error> -->
                  </mat-form-field>
                </div>
                <div fxFlex="120px" fxFlexFill fxFlexAlign="center">
                  <mat-form-field class="frm_residuo_codigo">
                    <input matInput #codigoonu maxlength="20" type="number" tabindex="3" placeholder="Nº ONU" [(ngModel)]="residuo.codigo_onu">
                    <mat-hint align="end">{{codigoonu.value?.length || 0}}/20</mat-hint>
                    <!-- <mat-error *ngIf="valCodigo.invalid">{{getCodigoErrorMessage()}}</mat-error> -->
                  </mat-form-field>
                </div>
                <div fxFlex="120px" fxFlexFill fxFlexAlign="center">
                  <mat-form-field class="frm_residuo_codigo">
                    <input matInput #codigoonu maxlength="20" tabindex="4" placeholder="Código IBAMA" [(ngModel)]="residuo.codigo_ibama">
                    <mat-hint align="end">{{codigoonu.value?.length || 0}}/20</mat-hint>
                    <!-- <mat-error *ngIf="valCodigo.invalid">{{getCodigoErrorMessage()}}</mat-error> -->
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxFlex="60px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <div fxFlex="250px" fxFlexFill fxFlexAlign="center">
                  <mat-form-field>
                    <mat-select placeholder="Classe de Resíduo" [(value)]="residuo.id_classe" tabindex="5">
                      <mat-option [value]="residuo.id_classe">{{residuo.classe_residuo}}</mat-option>
                      <mat-option *ngFor="let classeresiduo of classeresiduos" [value]="classeresiduo.id">
                        {{ classeresiduo.descricao }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="250px" fxFlexFill fxFlexAlign="center">
                  <mat-form-field>
                    <mat-select placeholder="Tipo de Resíduo" [(value)]="residuo.id_tipo_residuo" tabindex="6">
                      <mat-option [value]="residuo.id_tipo_residuo">{{residuo.tipo_residuo}}</mat-option>
                      <mat-option *ngFor="let tiporesiduo of tiporesiduos" [value]="tiporesiduo.id">
                        {{ tiporesiduo.descricao }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
