<form #ordempagamentoForm="ngForm">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
    <div fxFlex="140px" style="padding: 10px;" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="height: 100%">
        <div fxFlex="80%" fxFlexFill fxFlexAlign="center">
          <button id="btnSalvar" mat-raised-button color="primary" style="width: 100%" (click)="btnSalvar_click()">
            <mat-icon>save</mat-icon>
            <span>Salvar</span>
          </button>
          <button id="btnIncluir" mat-raised-button color="primary" style="width: 100%" (click)="btnIncluir_click()"
            *ngIf="exibeIncluir">
            <mat-icon>insert_drive_file</mat-icon>
            <span>Incluir</span>
          </button>
        </div>
        <div fxFlex="40px" fxFlexFill fxFlexAlign="end">

          <a routerLink="/ordempagamentos" mat-raised-button color="primary" style="width: 120px">
            <mat-icon>close</mat-icon>
            <span>Fechar</span>
          </a>
        </div>
      </div>
    </div>
    <div fxFlex="90%">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
        <div fxFlex="50px" fxFlexAlign="start" style="padding: 10px;">
          <button id="lblTitulo" mat-raised-button style="width: 100%" disabled>
            <i class="fa fa-leaf" aria-hidden="true"></i>
            <span>ORDENS DE PAGAMENTO</span>
          </button>
        </div>
        <div fxFlex="80%" fxFlexAlign="center">
          <div fxLayout="column" class="frm_ordempagamento-loading-shade" fxLayoutAlign="center center" *ngIf="emProcessamento">
            <div fxFlex="70" fxFlexAlign="center">
              <mat-spinner></mat-spinner>
            </div>
            <div fxFlex="10" fxFlexAlign="center">
              &nbsp;
            </div>
            <div fxFlex="20" fxFlexAlign="center">
              <label>Aguarde...</label>
            </div>
          </div>
          <mat-card *ngIf="!emProcessamento" style="width: 600px;">
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">

              <div fxFlex="60px" fxFlexAlign="start">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="width: 100%">
                  <div fxFlex="120px" fxFlexAlign="start" fxFlexFill>
                    <mat-form-field class="frm_ordempagamento_codigo">
                      <input matInput disabled #codigo="ngModel" maxlength="9" type="number" tabindex="2" placeholder="Código" id="codigo" name="codigo"
                        required [(ngModel)]="ordempagamento.id">
                    </mat-form-field>
                  </div>
                  <div fxFlex="450px" fxFlexAlign="start" fxFlexFill>
                    <mat-form-field class="frm_ordempagamento_descricao">
                      <input matInput uppercase autofocus #descricao="ngModel" #focuscomp maxlength="50" id="descricao" name="descricao"
                        placeholder="Descrição" required tabindex="1" [(ngModel)]="ordempagamento.descricao" autofocus>
                      <mat-hint align="end">{{descricao.value?.length || 0}}/50</mat-hint>
                      <mat-error *ngIf="descricao.invalid">{{getErrorMessage(descricao)}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxFlex="60px" fxFlexAlign="start">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="width: 100%">
                  <div fxFlex="250px" fxFlexAlign="start" fxFlexFill>
                    <mat-form-field class="frm_ordempagamento_centrocusto">
                      <mat-select placeholder="Centro de Custo" [(ngModel)]="ordempagamento.id_centro_custo" tabindex="3" id="centrocusto" name="centrocusto"
                        [compareWith]="compareCentroCusto" #centrocusto="ngModel" required>
                        <mat-option *ngFor="let centrocusto of centrocustos" [value]="centrocusto.id">
                          {{ centrocusto.descricao }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="centrocusto.invalid">{{getErrorMessage(centrocusto)}}</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="350px" fxFlexAlign="start" fxFlexFill>
                    <mat-form-field class="frm_ordempagamento_servico">
                      <mat-select placeholder="Serviço" #servico="ngModel" [(ngModel)]="ordempagamento.id_servico" tabindex="4" id="servico" name="servico"
                        [compareWith]="compareServico" required>
                        <mat-option *ngFor="let servico of servicos" [value]="servico.id">
                          {{ servico.descricao }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="servico.invalid">{{getErrorMessage(servico)}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxFlex="60px" fxFlexAlign="start">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="width: 100%">
                  <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                    <mat-form-field class="frm_ordempagamento_codigo">
                      <input matInput autofocus #focuscomp #codigofor maxlength="9" id="id_fornecedor" name="id_fornecedor"
                        placeholder="Fornecedor" required tabindex="5" [(ngModel)]="ordempagamento.id_fornecedor" [formControl]="valCodigo"
                        (keyup)="validaSaida($event.target.value)" (keypress)="onlyNumber($event)">
                      <mat-hint align="end">{{codigofor.value?.length || 0}}/9</mat-hint>
                      <mat-error *ngIf="valCodigo.invalid">{{getErrorMessage(valCodigo)}}</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="30px" fxFlexAlign="center" fxFlexFill>
                    <button mat-icon-button color="primary" (click)="openPesquisa()" tabindex="5">
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
                  <div fxFlex="470px" fxFlexAlign="start" fxFlexFill>
                    <mat-form-field class="frm_ordempagamento_razao_social">
                      <input matInput disabled [(ngModel)]="ordempagamento.fornecedor" id="fornecedor" name="fornecedor">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxFlex="60px" fxFlexAlign="start">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="width: 100%">
                  <div fxFlex="350px" fxFlexAlign="start" fxFlexFill>
                    <mat-form-field class="frm_ordempagamento_usuarios">
                      <mat-select placeholder="Contratante" #contratante="ngModel" [(ngModel)]="ordempagamento.usuario_contratante"
                      tabindex="6" id="contratante" name="contratante" required>
                        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.name">
                          {{ usuario.name }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="contratante.invalid">{{getErrorMessage(contratante)}}</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="250px" fxFlexAlign="start" fxFlexFill>
                    <mat-form-field class="frm_ordempagamento_notafiscal">
                      <input matInput uppercase autofocus #notafiscal="ngModel" #focuscomp maxlength="20" id="notafiscal" name="notafiscal"
                        placeholder="Nota Fiscal" required tabindex="7" [(ngModel)]="ordempagamento.nota_fiscal">
                      <mat-hint align="end">{{notafiscal.value?.length || 0}}/20</mat-hint>
                      <mat-error *ngIf="notafiscal.invalid">{{getErrorMessage(notafiscal)}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div fxFlex="60px" fxFlexAlign="start">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" style="width: 100%">
                  <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                    <mat-form-field class="frm_ordempagamento_parcela">
                      <input matInput uppercase autofocus #nrparcela #focuscomp maxlength="8" id="nrparcela" name="nrparcela"
                        placeholder="Nº Parcela" tabindex="8" [(ngModel)]="ordempagamento.parcela">
                      <mat-hint align="end">{{nrparcela.value?.length || 0}}/9</mat-hint>
                      <mat-error *ngIf="nrparcela.invalid">{{getErrorMessage(nrparcela)}}</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="120px" fxFlexAlign="start" fxFlexFill>
                    <div class="group">
                      <input currencyMask type="text" class="atrainput" [(ngModel)]="ordempagamento.valor_parcela" id="vlrparcela" name="vlrparcela"
                        style="height: 35px; width: 110px;" tabindex="9">
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label class="atralabel">Valor Parcela</label>
                    </div>
                  </div>
                  <div fxFlex="120px" fxFlexAlign="start" fxFlexFill>
                    <div class="group">
                      <input currencyMask type="text" class="atrainput" [(ngModel)]="ordempagamento.valor_total" style="height: 35px; width: 110px;" id="vlrtotal" name="vlrtotal"
                        tabindex="10" required>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label class="atralabel">Valor Total</label>
                    </div>
                  </div>
                  <div fxFlex="150px" fxFlexAlign="start" fxFlexFill>
                    <mat-form-field class="frm_ordempagamento_vencimento">
                      <input matInput type="date" #vencimento="ngModel" maxlength="10" placeholder="Vencimento" name="dtVencimento" id="vencimento" name="vencimento"
                        tabindex="11" required [ngModel]="ordempagamento.vencimento" (ngModelChange)="ordempagamento.vencimento = $event"
                        [value]="ordempagamento.vencimento | date:'yyyy-MM-dd'" id="dtVencimento">
                      <mat-hint align="end">{{vencimento.value?.length || 0}}/10</mat-hint>
                      <mat-error *ngIf="vencimento.invalid">{{getErrorMessage(vencimento)}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</form>
