<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
  <div fxFlex="140px" style="padding: 10px;" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="height: 100%">
      <div fxFlex="80%" fxFlexFill fxFlexAlign="center">
        <button id="btnSalvar" mat-raised-button color="primary" style="width: 100%" (click)="btnSalvar_click()">
          <mat-icon>save</mat-icon>
          <span>Salvar</span>
        </button>
        <button id="btnIncluir" mat-raised-button color="primary" style="width: 100%" (click)="btnIncluir_click()" *ngIf="exibeIncluir">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Incluir</span>
        </button>
      </div>
      <div fxFlex="40px" fxFlexFill fxFlexAlign="end">

        <a routerLink="/fornecedores" mat-raised-button color="primary" style="width: 120px">
          <mat-icon>close</mat-icon>
          <span>Fechar</span>
        </a>
      </div>
    </div>
  </div>
  <div fxFlex="90%">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px">
      <div fxFlex="50px" fxFlexAlign="start" style="padding: 10px;">
        <button id="lblTitulo" mat-raised-button style="width: 100%" disabled>
          <i class="fa fa-truck" aria-hidden="true"></i>
          <span>FORNECEDOR</span>
        </button>
      </div>
      <div fxFlex="80%" fxFlexAlign="center">
        <div fxLayout="column" class="frm_fornecedor-loading-shade" fxLayoutAlign="center center" *ngIf="emProcessamento">
          <div fxFlex="70" fxFlexAlign="center">
            <mat-spinner></mat-spinner>
          </div>
          <div fxFlex="10" fxFlexAlign="center">
            &nbsp;
          </div>
          <div fxFlex="20" fxFlexAlign="center">
            <label>Aguarde...</label>
          </div>
        </div>
        <mat-card *ngIf="!emProcessamento" style="width: 850px;">
          <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
            <!-- <div fxFlex="60px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" style="width: 100%">

              </div>
            </div> -->
            <div fxFlex="60px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" style="width: 100%">
                <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_fornecedor_codigo">
                    <input matInput disabled #codigo maxlength="9" type="number" tabindex="50" placeholder="Código" required [(ngModel)]="fornecedor.id">
                  </mat-form-field>
                </div>
                <div fxFlex="450px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_fornecedor_razao_social">
                    <input matInput uppercase autofocus #razaosocial #focuscomp maxlength="60" [formControl]="valRazaoSocial" placeholder="Razão Social (Nome Completo)"
                      required tabindex="1" [(ngModel)]="fornecedor.razao_social">
                    <mat-hint align="end">{{razaosocial.value?.length || 0}}/60</mat-hint>
                    <mat-error *ngIf="valRazaoSocial.invalid">{{getRazaoSocialErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="170px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_fornecedor_cnpj_cpf">
                    <input matInput #cnpjcpf maxlength="18" [formControl]="valCnpjCpf" placeholder="CNPJ / CPF" required tabindex="3" [(ngModel)]="fornecedor.cnpj_cpf"
                      (blur)="formataCnpjCpf($event)">
                    <mat-hint align="end">{{cnpjcpf.value?.length || 0}}/18</mat-hint>
                    <mat-error *ngIf="valCnpjCpf.invalid">{{getCnpjCpfErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100px" fxFlexFill>
                  <mat-checkbox [(ngModel)]="inativo">Inativo</mat-checkbox>
                </div>
              </div>
            </div>
            <div fxFlex="60px" fxFlexAlign="start">
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" style="width: 100%">
                <div fxFlex="400px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_fornecedor_nome_fantasia">
                    <input matInput uppercase #nomefantasia maxlength="50" placeholder="Nome Fantasia (Nome Abreviado)" tabindex="4" [(ngModel)]="fornecedor.nome_fantasia">
                    <mat-hint align="end">{{nomefantasia.value?.length || 0}}/50</mat-hint>
                  </mat-form-field>
                </div>
                <div fxFlex="30px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_fornecedor_telefone1_ddd">
                    <input matInput #telefone1DDD maxlength="2" [formControl]="valDDD" placeholder="DDD" tabindex="5" [(ngModel)]="fornecedor.telefone1_ddd"
                      (keypress)="onlyNumber($event)">
                    <mat-hint align="end">{{telefone1DDD.value?.length || 0}}/2</mat-hint>
                    <mat-error *ngIf="valDDD.invalid">{{getDDDErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="90px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_fornecedor_telefone1_numero">
                    <input matInput #telefone1numero maxlength="10" [formControl]="valTelefone" placeholder="Telefone" tabindex="6" [(ngModel)]="fornecedor.telefone1_numero"
                      (keypress)="onlyNumber($event)" (blur)="formataTelefone($event)">
                    <mat-hint align="end">{{telefone1numero.value?.length || 0}}/10</mat-hint>
                    <mat-error *ngIf="valTelefone.invalid">{{getTelefoneErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="220px" fxFlexAlign="start" fxFlexFill>
                  <mat-form-field class="frm_fornecedor_contato">
                    <input matInput uppercase #contato maxlength="50" placeholder="Contato" tabindex="7" [(ngModel)]="fornecedor.contato">
                    <mat-hint align="end">{{contato.value?.length || 0}}/50</mat-hint>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div fxFlex="320px" fxFlexAlign="start" fxFlexFill>
              <mat-tab-group>
                <mat-tab label="Endereço" tabindex="8">
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="70px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div fxFlex="600px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_endereco">
                            <input matInput uppercase #endereco maxlength="60" placeholder="Endereço" tabindex="10" [(ngModel)]="fornecedor.endereco">
                            <mat-hint align="end">{{endereco.value?.length || 0}}/60</mat-hint>
                          </mat-form-field>
                        </div>
                        <div fxFlex="130px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_endereco_numero">
                            <input matInput #endereconumero maxlength="10" placeholder="Numero" tabindex="11" [(ngModel)]="fornecedor.endereco_numero">
                            <mat-hint align="end">{{endereconumero.value?.length || 0}}/10</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="70px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div fxFlex="350px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_bairro">
                            <input matInput uppercase #bairro maxlength="30" placeholder="Bairro" tabindex="12" [(ngModel)]="fornecedor.bairro">
                            <mat-hint align="end">{{bairro.value?.length || 0}}/30</mat-hint>
                          </mat-form-field>
                        </div>
                        <div fxFlex="400px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_complemento">
                            <input matInput uppercase #complemento maxlength="60" placeholder="Complemento" tabindex="13" [(ngModel)]="fornecedor.complemento">
                            <mat-hint align="end">{{complemento.value?.length || 0}}/60</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="70px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div fxFlex="170px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_estado">
                            <mat-select placeholder="Estado" [(value)]="fornecedor.estado" (change)="estadoChange($event)" tabindex="14">
                              <mat-option *ngFor="let estado of estados" [value]="estado.uf">
                                {{ estado.nome }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                        </div>
                        <div fxFlex="300px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_cidade">
                            <input matInput #cidade maxlength="40" placeholder="Cidade" [matAutocomplete]="auto" tabindex="11" [(ngModel)]="fornecedor.cidade"
                              [formControl]="cidadeFilter" tabindex="16">
                            <mat-hint align="end">{{cidade.value?.length || 0}}/40</mat-hint>
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let cidade of filteredOptions | async" [value]="cidade.cCod">
                                <span>{{ cidade.cCod }}</span>
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </div>
                        <div fxFlex="150px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_cep">
                            <input matInput #cep maxlength="10" placeholder="CEP" tabindex="17" [(ngModel)]="fornecedor.cep">
                            <mat-hint align="end">{{cep.value?.length || 0}}/10</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Telefones e E-mail" tabindex="18">
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="70px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="30px">
                        <div fxFlex="70px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_telefone2_ddd">
                            <input matInput #telefone2DDD maxlength="2" [formControl]="valDDD2" placeholder="DDD Tel2" tabindex="19" [(ngModel)]="fornecedor.telefone2_ddd"
                              (keypress)="onlyNumber($event)">
                            <mat-hint align="end">{{telefone2DDD.value?.length || 0}}/2</mat-hint>
                            <mat-error *ngIf="valDDD.invalid">{{getDDD2ErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div fxFlex="90px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_telefone2_numero">
                            <input matInput #telefone2numero maxlength="10" [formControl]="valTelefone2" placeholder="Telefone 2" tabindex="20" [(ngModel)]="fornecedor.telefone2_numero"
                              (keypress)="onlyNumber($event)" (blur)="formataTelefone2($event)">
                            <mat-hint align="end">{{telefone2numero.value?.length || 0}}/10</mat-hint>
                            <mat-error *ngIf="valTelefone2.invalid">{{getTelefone2ErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div fxFlex="70px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_telefone2_ddd">
                            <input matInput #telefoneDDDFax maxlength="2" [formControl]="valDDDFax" placeholder="DDD Cel" tabindex="21" [(ngModel)]="fornecedor.fax_ddd"
                              (keypress)="onlyNumber($event)">
                            <mat-hint align="end">{{telefoneDDDFax.value?.length || 0}}/2</mat-hint>
                            <mat-error *ngIf="valDDDFax.invalid">{{getDDDFaxErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                        <div fxFlex="90px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_telefone2_numero">
                            <input matInput #telefoneFaxnumero maxlength="10" [formControl]="valTelefoneFax" placeholder="Celular" tabindex="22" [(ngModel)]="fornecedor.fax_numero"
                              (keypress)="onlyNumber($event)" (blur)="formataTelefoneFax($event)">
                            <mat-hint align="end">{{telefoneFaxnumero.value?.length || 0}}/10</mat-hint>
                            <mat-error *ngIf="valTelefoneFax.invalid">{{getTelefoneFaxErrorMessage()}}</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="70px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div fxFlex="430px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_email">
                            <input matInput #email maxlength="100" placeholder="E-mail" tabindex="23" [(ngModel)]="fornecedor.email">
                            <mat-hint align="end">{{email.value?.length || 0}}/100</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="70px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div fxFlex="430px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_homepage">
                            <input matInput #homepahe maxlength="100" placeholder="WebSite" tabindex="24" [(ngModel)]="fornecedor.homepage">
                            <mat-hint align="end">{{homepahe.value?.length || 0}}/100</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Inscrições" tabindex="25">
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="70px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                        <div fxFlex="180px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_inscrestadual">
                            <input matInput #inscrEstadual maxlength="20" placeholder="Inscrição Estadual" tabindex="26" [(ngModel)]="fornecedor.inscricao_estadual">
                            <mat-hint align="end">{{inscrEstadual.value?.length || 0}}/20</mat-hint>
                          </mat-form-field>
                        </div>
                        <div fxFlex="180px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_inscrmunicipal">
                            <input matInput #inscrMunicipal maxlength="20" placeholder="Inscrição Municipal" tabindex="27" [(ngModel)]="fornecedor.inscricao_municipal">
                            <mat-hint align="end">{{inscrMunicipal.value?.length || 0}}/20</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="70px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                        <div fxFlex="550px" fxFlexFill>
                          <mat-form-field class="frm_fornecedor_observacao">
                            <input matInput #observacao maxlength="500" placeholder="Observações" tabindex="28" [(ngModel)]="fornecedor.observacao">
                            <mat-hint align="end">{{observacao.value?.length || 0}}/500</mat-hint>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Documentos" tabindex="29">
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                    <div fxFlex="380px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="65px" fxFlexAlign="start">
                          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                            <div fxFlex="230px" fxFlexFill>
                              <mat-form-field class="frm_fornecedor_tipodocumento">
                                <mat-select [formControl]="valTipoDocumento" placeholder="Tipo de Documento" [(ngModel)]="fornecedordocumento.id_tipo_documento"
                                  required tabindex="30" id="id_tipodocumento">
                                  <mat-option *ngFor="let tipodocumento of tipodocumentos" [value]="tipodocumento.id">
                                    {{ tipodocumento.descricao }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div fxFlex="150px" fxFlexFill>
                              <mat-form-field class="frm_fornecedor_nrolicenca">
                                <input matInput [formControl]="valNroLicenca" uppercase #nrolicencatransp maxlength="20" placeholder="Numero" tabindex="31"
                                  required [(ngModel)]="fornecedordocumento.numero">
                                <mat-hint align="end">{{nrolicencatransp.value?.length || 0}}/20</mat-hint>
                              </mat-form-field>
                            </div>
                            <div fxFlex="150px" fxFlexFill>
                              <mat-form-field class="frm_fornecedor_dtemissao">
                                <input matInput [formControl]="valDtEmissao" type="date" #dtemissao maxlength="10" placeholder="Data Emissão" tabindex="32"
                                  required [ngModel]="fornecedordocumento.emissao" (ngModelChange)="fornecedordocumento.emissao = $event"
                                  [value]="fornecedordocumento.emissao">
                                <mat-hint align="end">{{dtemissao.value?.length || 0}}/10</mat-hint>
                              </mat-form-field>
                            </div>
                            <div fxFlex="150px" fxFlexFill>
                              <mat-form-field class="frm_fornecedor_dtvencimento">
                                <input matInput [formControl]="valDtVencimento" type="date" #dtvencimento maxlength="10" placeholder="Data Vencimento" tabindex="33"
                                  [ngModel]="fornecedordocumento.vencimento" (ngModelChange)="fornecedordocumento.vencimento = $event"
                                  [value]="fornecedordocumento.vencimento">
                                <mat-hint align="end">{{dtvencimento.value?.length || 0}}/10</mat-hint>
                              </mat-form-field>
                            </div>
                            <div fxFlex="100px" fxFlexFill>
                              <mat-checkbox [(ngModel)]="extensao">Extensão</mat-checkbox>
                            </div>
                            <div fxFlex="120px" fxFlexAlign="center" fxFlexFill>
                              <button mat-raised-button color="primary" (click)="addlinha()" tabindex="34" style="margin-bottom: 10px">
                                <mat-icon>playlist_add</mat-icon>
                                <span>Adicionar</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="40px" fxFlexAlign="start" fxFlexFill>
                          <table>
                            <tr>
                              <th class="frm_fornecedor_grid_tipodocumento">
                                <label>Tipo de Documento</label>
                              </th>
                              <th class="frm_fornecedor_grid_nrolicenca">
                                <label>Numero</label>
                              </th>
                              <th class="frm_fornecedor_grid_dtemissao">
                                <label>Dt. Emissão</label>
                              </th>
                              <th class="frm_fornecedor_grid_dtvencimento">
                                <label>Dt. Vencimento</label>
                              </th>
                              <th class="frm_fornecedor_grid_extensao">
                                <label>Extensão</label>
                              </th>
                              <th class="frm_contratofornecedor_residuo_botao">
                              </th>
                              <th class="frm_contratofornecedor_residuo_botao">
                              </th>
                            </tr>
                          </table>
                        </div>
                        <div fxFlex="160px" fxFlexAlign="start" fxFlexFill style="overflow-y:auto; overflow-x: hidden">
                          <table>
                            <tr *ngFor="let fordoc of fornecedordocumentos">
                              <td class="frm_fornecedor_grid_tipodocumento">
                                {{fordoc.descricao}}
                              </td>
                              <td class="frm_fornecedor_grid_nrolicenca">
                                {{fordoc.numero}}
                              </td>
                              <td class="frm_fornecedor_grid_dtemissao">
                                {{fordoc.emissao|formatDate}}
                              </td>
                              <td class="frm_fornecedor_grid_dtvencimento">
                                {{fordoc.vencimento|formatDate}}
                              </td>
                              <td class="frm_fornecedor_grid_extensao" style="text-align: center">
                                  <mat-checkbox disabled [checked]="fordoc.extensao | strtoboolean"></mat-checkbox>
                              </td>
                              <td class="frm_fornecedor_botao">
                                <a (click)="remlinha(fordoc)" class="tooltip">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                  <span class="tooltiptext">Excluir</span>
                                </a>
                              </td>
                              <td class="frm_fornecedor_botao">
                                <a (click)="editlinha(fordoc)" class="tooltip">
                                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                  <span class="tooltiptext">Editar</span>
                                </a>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Anexos" tabindex="25">
                  <div fxLayou="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                    <div fxFlex="380px" fxFlexAlign="start" fxFlexFill>
                      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="75px" fxFlexAlign="start">
                          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                            <div fxFlex="330px" fxFlexFill>
                              <mat-form-field class="frm_fornecedor_documento">
                                <mat-select placeholder="Documentos" [(value)]="id_documento" tabindex="30">
                                  <mat-option *ngFor="let fordocanexo of fornecedordocumentosList" [value]="fordocanexo.id">
                                    {{ fordocanexo.descricao }} - {{fordocanexo.numero}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div fxFlex="350px" fxFlexFill>
                              <label style="font-size: 12px; font-weight: bold; color: gray">Anexar pdf / imagem documento</label>
                              <input type="file" placeholder="Upload file" #fileInput accept=".pdf,.doc,.docx" style="min-width: 500px; max-width: 500px;">
                            </div>
                            <div fxFlex="120px" fxFlexAlign="start" fxFlexFill>
                              <button mat-raised-button color="primary" (click)="uploadAnexo()" tabindex="34" style="margin-bottom: 10px; margin-top: 10px;">
                                <mat-icon>file_upload</mat-icon>
                                <span>Enviar Anexo</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="0px">
                        <div fxFlex="40px" fxFlexAlign="start" fxFlexFill>
                          <table>
                            <tr>
                              <th class="frm_fornecedor_grid_tipodocumento">
                                <label>Tipo de Documento</label>
                              </th>
                              <th class="frm_fornecedor_grid_nrolicenca">
                                <label>Numero</label>
                              </th>
                              <th class="frm_fornecedor_grid_anexo">
                                <label>Anexo</label>
                              </th>
                              <th class="frm_contratofornecedor_residuo_botao">
                              </th>
                            </tr>
                          </table>
                        </div>
                        <div fxFlex="160px" fxFlexAlign="start" fxFlexFill style="overflow-y:auto; overflow-x: hidden">
                          <table>
                            <tr *ngFor="let fordoc of fornecedordocumentoAnexos">
                              <td class="frm_fornecedor_grid_tipodocumento">
                                {{fordoc.descricao}}
                              </td>
                              <td class="frm_fornecedor_grid_nrolicenca">
                                {{fordoc.numero}}
                              </td>
                              <td class="frm_fornecedor_grid_anexo">
                                <a mat-button href="{{ linkDownload + 'FOR_' + fordoc.id_fornecedor + '_DOC_'+ fordoc.id + '_' + fordoc.caminho }}">
                                  {{fordoc.caminho}}
                                </a>
                              </td>
                              <td class="frm_fornecedor_botao">
                                <a (click)="deleteAnexo(fordoc)" class="tooltip">
                                  <i class="fa fa-trash" aria-hidden="true"></i>
                                  <span class="tooltiptext">Excluir</span>
                                </a>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
</div>
