<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="1px">
  <div fxFlex="140px" style="padding: 10px;" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="5px" style="height: 100%">
      <div fxFlex="80%" fxFlexFill fxFlexAlign="center">
        <button id="btnEditar" mat-raised-button color="primary" style="width: 100%" (click)="btnEditar_click()">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button id="btnIncluir" mat-raised-button color="primary" style="width: 100%" (click)="btnIncluir_click()">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Incluir</span>
        </button>
        <button id="btnExcluir" mat-raised-button color="primary" style="width: 100%" (click)="btnExcluir_click()">
          <mat-icon>delete</mat-icon>
          <span>Excluir</span>
        </button>
      </div>
      <div fxFlex="40px" fxFlexFill fxFlexAlign="end">
        <a routerLink="/" mat-raised-button color="primary" style="width: 120px">
          <mat-icon>close</mat-icon>
          <span>Fechar</span>
        </a>
      </div>
    </div>
  </div>
  <div fxFlex="90%">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxFlex="33px" fxFlexAlign="start" style="padding: 10px;">
        <button id="lblTitulo" mat-raised-button style="width: 100%" disabled>
          <i class="fa fa-group" aria-hidden="true"></i>
          <span>CLIENTES</span>
        </button>
      </div>
      <div fxFlex="47px" fxFlexAlign="start" style="width: 100%; overflow-x: auto; overflow-y: hidden">
        <table>
          <tr>
            <td class="filtro_codigo">
              <mat-form-field class="filtro_codigo" style="margin-left: 5px">
                <input matInput #filter placeholder="Código" [formControl]="idFilter" (keypress)="onlyNumber($event)">
              </mat-form-field>
            </td>
            <td class="mat-column-cnpj_cpf">
              <!-- style="width: 500px" -->
              <mat-form-field class="mat-column-cnpj_cpf">
                <input matInput #filter placeholder="CNPJ / CPF" [formControl]="cnpjCpfFilter">
              </mat-form-field>
            </td>
            <td class="mat-column-razao_socialocial">
              <!-- style="width: 500px" -->
              <mat-form-field class="mat-column-razao_social">
                <input matInput uppercase #filter placeholder="Razão Social (Nome Completo)" [formControl]="razaoSocialFilter">
              </mat-form-field>
            </td>
            <td class="mat-column-contato">
              <!-- style="width: 500px" -->
              <mat-form-field class="mat-column-contato">
                <input matInput uppercase #filter placeholder="Contato" [formControl]="contatoFilter">
              </mat-form-field>
            </td>
            <td class="mat-column-telefone1_numero">
              <!-- style="width: 500px" -->
              <mat-form-field class="mat-column-telefone1_numero">
                <input matInput #filter placeholder="Telefone" [formControl]="telefoneFilter">
              </mat-form-field>
            </td>
            <td class="filtro_email">
              <!-- style="width: 500px" -->
              <mat-form-field class="filtro_email">
                <input matInput #filter placeholder="e-mail" [formControl]="emailFilter">
              </mat-form-field>
            </td>
            <!-- <td class="filtro_inativo">
              <mat-form-field class="filtro_email">
                <input matInput #filter placeholder="e-mail" [formControl]="inativoFilter">
              </mat-form-field>
            </td> -->
          </tr>
        </table>
      </div>
      <div fxFlex="1px" class="customHrFull"></div>
      <div fxFlex="400px" class="example-loading-shade" fxFlexAlign="start" *ngIf="isLoadingResults" style="height: 100%">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <div fxFlex="400px" fxFlexAlign="start" style="width: 100%">
        <mat-table #table [dataSource]="dataSource" matSort style="width: 100%">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="cnpj_cpf">
            <mat-header-cell *matHeaderCellDef mat-sort-header> CNPJ / CPF </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.cnpj_cpf}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="razao_social">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Razão Social (Nome Completo) </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.razao_social}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="contato">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Contato </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.contato}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="telefone1_numero">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.telefone1_ddd === ''?'':'('+row.telefone1_ddd+')'}} {{row.telefone1_numero}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> e-mail </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="inativo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Inativo </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox disabled [checked]="row.inativo | strtoboolean"></mat-checkbox>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"
            (dblclick)="dblck(row)"></mat-row>
        </mat-table>
        <mat-paginator #paginator [length]="dataSource.nrRegistros" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 15, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
